.row
  .col-sm-12.top-space.a
    = form_for [:admin, @product, @product_image], role: "form" do |f|
      / = f.error_messages
      %p
        = f.text_field :title, :class => "form-control", :placeholder => "Titulo"
      %p
        = f.label "Imagem do Produto"
        = f.file_field :image_product, :class => "form-control filestyle"
      - if @product_image.image_product.file?
        .form-group
          =image_tag(@product_image.image_product.url, class: "img-responsive")
      %p
        = f.check_box :published, :class=>"switch-large", :"data-text-label"=>"Exibir"

      =f.submit "Salvar", :class => "btn btn-default pull-right"