%ol.breadcrumb
  %li=link_to "Home", "/admin"
  %li=link_to "Produtos", admin_products_path
  %li.active=link_to "Imagens", admin_product_product_images_path

.row
  .col-xs-9
    %h1 Imagens
  .col-xs-3
    =link_to "+ Imagem", new_admin_product_product_image_path, :class => "btn btn-default pull-right header-button"

- if flash[:notice]
  .alert.alert-success
    %b Concluído!
    Registro modificado com
    %b sucesso!

.users
  %table.col-xs-12.table.table-condensed
    %thead
      %tr
        %th= "Thumb"
        %th="Titulo"
        %th="Publicado?"
        %th="Ações"
    %tbody
      - for image in @product_images
        %tr
          - if image.image_product.file?
            %td= image_tag(image.image_product.url(:thumb))
          %td= image.title
          %td= show_boolean(image.published)
          %td
            =link_to t("show"), admin_product_product_image_path(@product, image), :class => "btn btn-white"
            =link_to t("edit"), edit_admin_product_product_image_path(@product, image), :class => "btn btn-white"
            =link_to "Excluir", [:admin, @product,  image], data: { :confirm => 'Are you sure?'}, :method => :delete, :class => "btn btn-default"
