%ol.breadcrumb
  %li=link_to "Home", admin_root_path
  %li=link_to "Produtos", admin_products_path
  %li=link_to "Imagens", admin_product_product_images_path
.row
  .col-xs-9
    %h1 Novo Imagem

- if flash[:error]
  .alert.alert-danger
    %b Ops!
    Está faltando alguma coisa

= render :partial => "form"

= link_to 'Exibir Todas', admin_product_product_images_path, :class => "btn btn-white"
