%ol.breadcrumb
  %li=link_to "Home", admin_root_path
  %li=link_to "Produtos", admin_products_path
  %li.active=link_to "Imagens", admin_product_product_images_path

.row
  .col-xs-9
    %h1 Destaques
  .col-xs-3
    =link_to "+ Imagem", new_admin_product_product_image_path, :class => "btn btn-default pull-right header-button"

- if flash[:notice]
  .alert.alert-success
    %b Concluído!
    Registro modificado com
    %b sucesso!

.comunicados
  %h3 Imagem
  %h2.details= @product_image.title

  %h3 Publicado?
  %h2.details=show_boolean(@product_image.published)

  - if @product_image.image_product.file?
    .box-body
      %p=image_tag(@product_image.image_product.url, style: "width: 50%;")

%br
= link_to 'Editar', edit_admin_product_product_image_path(@product, @product_image), :class => "btn btn-white"