.row
  .col-sm-12.top-space.a
    = form_for [:admin, @product, @product_highlight], role: "form" do |f|
      / = f.error_messages
      %p
        = f.text_field :title, :class => "form-control", :placeholder => "Titulo"
      %p
        = f.text_field :subtitle, :class => "form-control", :placeholder => "Subtitulo"
      %p
        = f.text_field :short_text, :class => "form-control", :placeholder => 'Breve descrição'
      %p
        = f.datetime_select :publication_start
      %p
        = f.datetime_select :publication_stop
      / %p.datetimepicker.input-group.date
      /   %span.input-group-addon.btn-default
      /     %i.fa.fa-calendar
      /   = f.text_field :publication_start, :class => "form-control", :placeholder => "Inicio da Publicação"

      / %p.datetimepicker.input-group.date
      /   %span.input-group-addon.btn-default
      /     %i.fa.fa-calendar
      /   = f.text_field :publication_stop, :class => "form-control", :placeholder => "Fim da Publicação"
      %p
        = f.number_field :order, :class => "form-control"
      %p
        = f.file_field :highlight_product, :class => "form-control filestyle"
      - if @product_highlight.highlight_product.file?
        .form-group
          =image_tag(@product_highlight.highlight_product.url)
      %p
        = f.text_field :link, :class => "form-control", :placeholder => "Link"
      %br
      .row
        .colorSelector.col-sm-2
          = f.label "Cor 1"
          %div{:style => "background-color: ##{@product_highlight.color1}; "}
          = f.hidden_field :color1, :value=>@product_highlight.color1, :class=>"hidden-color"
        .colorSelector.col-sm-2
          = f.label "Cor 2"
          %div{:style => "background-color: ##{@product_highlight.color2}; "}
          = f.hidden_field :color2, :value=>@product_highlight.color2, :class=>"hidden-color"
        .colorSelector.col-sm-2
          = f.label "Cor 3"
          %div{:style => "background-color: ##{@product_highlight.color3}; "}
          = f.hidden_field :color3, :value=>@product_highlight.color3, :class=>"hidden-color"
        .colorSelector.col-sm-2
          = f.label "Cor 4"
          %div{:style => "background-color: ##{@product_highlight.color4}; "}
          = f.hidden_field :color4, :value=>@product_highlight.color4, :class=>"hidden-color"


      =f.submit "Salvar", :class => "btn btn-default pull-right"