%ol.breadcrumb
  %li=link_to "Home", "javascript:void(0);"
  %li=link_to "Produtos", admin_products_path
  %li=link_to "Destaques", admin_product_product_highlights_path

.row
  .col-xs-9
    %h1 Editar Destaque

- if flash[:error]
  .alert.alert-danger
    %b Ops!
    Está faltando alguma coisa

= render :partial => "form"

%br
= link_to 'Exibir Todos', admin_product_product_highlights_path, :class => "btn btn-white"
