%ol.breadcrumb
  %li=link_to "Home", admin_root_path
  %li=link_to "Produtos", admin_products_path
  %li.active=link_to "Destaques", admin_product_product_highlights_path

.row
  .col-xs-9
    %h1 Destaques
  .col-xs-3
    =link_to "+ Destaque", new_admin_product_product_highlight_path, :class => "btn btn-default pull-right header-button"

- if flash[:notice]
  .alert.alert-success
    %b Concluído!
    Registro modificado com
    %b sucesso!

.comunicados
  %h3 Destaque
  %h2.details= @product_highlight.title

  %h3 Subtitulo
  %h2.details=@product_highlight.subtitle

  %h3 Inicia em
  %h2.details=@product_highlight.publication_start.strftime("%d/%m/%y - %H:%M")

  %h3 Termina em
  %h2.details=@product_highlight.publication_stop.strftime("%d/%m/%y - %H:%M")

  %h3 ordem
  %h2.details=@product_highlight.order

  %h3 link
  %h2.details=@product_highlight.link.present? ? @highlight.link : "Sem Link"

  %h3 Publicado?
  %h2.details=show_boolean(@product_highlight.published)

  - if @product_highlight.highlight_product.file?
    .box-body
      %p=image_tag(@product_highlight.highlight_product.url, style: "width: 50%;")

%br
= link_to 'Editar', edit_admin_product_product_highlight_path(@product, @product_highlight), :class => "btn btn-white"