= form_for @find_it do |f|
  - if @find_it.errors.any?
    #error_explanation
      %h2= "#{pluralize(@find_it.errors.count, "error")} prohibited this find_it from being saved:"
      %ul
        - @find_it.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :state
    = f.text_field :state
  .field
    = f.label :published
    = f.text_field :published
  .field
    = f.label :active
    = f.text_field :active
  .actions
    = f.submit 'Save'
