%ol.breadcrumb
  %li=link_to "Home", root_path
  %li.active=link_to "Onde Encontrar", admin_find_its_path

.row
  .col-xs-12
    %h1 Onde Encontrar

.comunicados
  %h3 Nome
  %h2.details= @find_it.name

  %h3 Email
  %h2.details=@find_it.email

  %h3 Telefone
  %h2.details=@find_it.phone

  %h3 Cidade
  %h2.details=@find_it.city

  %h3 Estado
  %h2.details=@find_it.state

  %h3 Enviado em
  %h2.details=@find_it.created_at.strftime("%d/%m/%y")
%br
= link_to 'Exibir Todos', admin_find_its_path, :class => "btn btn-white"