!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
    :css
      img
      {
        display:block;
        border:none;
      }
    %body
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
      %tr
        %td{:align => "right", :height => "28", :style => "border-bottom:2px solid #1ab7ea;"}
          = image_tag("http://worldpiscinas.web1303.kinghost.net/assets/logo.png")
      %tr
        %td{:align => "left"}
          %br/
          %br/
          %font{:face => "Tahoma", :style => "font-size:12px;"}
            ="Olá Administrador, "
            %br/
            %br/
            Um orçamento foi feito através do site
            %br/
            %br/
            %p= "#{t("activerecord.attributes.order.id")}: #{@order.id}"
            %p= "#{t("activerecord.attributes.order.name")}: #{@order.name}"
            %p= "#{t("activerecord.attributes.order.email")}: #{@order.email}"
            %p= "#{t("activerecord.attributes.order.phone")}: #{@order.phone}"
            %p= "#{t("activerecord.attributes.order.city")}: #{@order.city} - #{@order.state_of_country.symbol}"
          %br/
          %br/
      %tr
        %td
          %table{:border => "1", :cellpadding => "0", :cellspacing => "0", :width => "100%", :style => "margin:30px 0px;"}
            %thead
              %tr
                %td{:align=> "center"} Quantidade
                %td Produto
                %td Marca
                %td Codigo
            %tbody
              -@order_products.each do |product|
                %tr
                  %td{:align=> "center"}=product.quantity
                  %td=link_to(product.product.title, product_url(product.product_id))
                  %td=product.product.brand
                  %td=product.product.code
      %tr
        %td{:style => "border-top:2px solid #1ab7ea;"}
          %br/
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td{:align => "center", :width => "30%"}
                %font{:face => "Tahoma", :style => "font-size:12px;"} World Piscinas.
              %td{:align => "center", :width => "30%"}
                %font{:face => "Tahoma", :style => "font-size:12px;"} www.worldpiscinas.com.br
              %td{:align => "center", :width => "30%"}
                %font{:face => "Tahoma", :style => "font-size:12px;"} contato@worldpiscinas.com.br 