!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
    :css
      img
      {
        display:block;
        border:none;
      }
    %body
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
      %tr
        %td{:align => "right", :height => "28", :style => "border-bottom:2px solid #8c0708;"}
          = image_tag("http://192.168.1.107:3000/assets/logo.png")
      %tr
        %td{:align => "left"}
          %br/
          %br/
          %font{:face => "Tahoma", :style => "font-size:12px;"}
            ="Olá Administrador, "
            %br/
            %br/
            Um contato foi feito através do site
            %br/
            %br/
            %p= "#{t("activerecord.attributes.contact.id")}: #{@contact.id}"
            %p= "#{t("activerecord.attributes.contact.name")}: #{@contact.name}"
            %p= "#{t("activerecord.attributes.contact.email")}: #{@contact.email}"
            %p= "#{t("activerecord.attributes.contact.phone")}: #{@contact.phone}"
            %p= "#{t("activerecord.attributes.contact.city")}: #{@contact.city} - #{@contact.state}"
            
            %p
              = "#{t("activerecord.attributes.contact.message")}:"
              %br
              %b=@contact.message
            
          %br/
          %br/
      %tr
        %td{:style => "border-top:2px solid #8c0708;"}
          %br/
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td{:align => "center", :width => "30%"}
                %font{:face => "Tahoma", :style => "font-size:12px;"} Lythos.
              %td{:align => "center", :width => "30%"}
                %font{:face => "Tahoma", :style => "font-size:12px;"} www.lythos.com.br
              %td{:align => "center", :width => "30%"}
                %font{:face => "Tahoma", :style => "font-size:12px;"} contato@lythos.com.br 