!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
    :css
      img
      {
        display:block;
        border:none;
      }
    %body
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
      %tr
        %td{:align => "right", :height => "28", :style => "border-bottom:2px solid #1ab7ea;"}
          = image_tag("http://worldpiscinas.web1303.kinghost.net/assets/logo.png")
      %tr
        %td{:align => "left"}
          %br/
          %br/
          %font{:face => "Tahoma", :style => "font-size:12px;"}
            ="Olá #{@order.name}, "
            %br/
            %br/
            Seu orçamento foi enviado com sucesso!
            %br/
            %br/
            Em breve entraremos em contato.
            %br/
            %br/
            Atenciosamente,
            %br/
            %i Equipe World Piscinas
            
          %br/
          %br/    
      %tr
        %td{:style => "border-top:2px solid #1ab7ea;"}
          %br/
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td{:align => "center", :width => "30%"}
                %font{:face => "Tahoma", :style => "font-size:12px;"} World Piscinas.
              %td{:align => "center", :width => "30%"}
                %font{:face => "Tahoma", :style => "font-size:12px;"} www.worldpiscinas.com.br
              %td{:align => "center", :width => "30%"}
                %font{:face => "Tahoma", :style => "font-size:12px;"} contato@worldpiscinas.com.br