<% if @erro %>
  alert("\tInforme um email válido!");
<% else %>
  alert("Email cadastrado com sucesso!");
  $.fn.clearForm = function() {
    return this.each(function() {
      var type = this.type, tag = this.tagName.toLowerCase();
      if (tag == 'form')
        return $(':input',this).clearForm();
      if (type == 'text' || type == 'password' || tag == 'textarea' || type == 'email')
        this.value = '';
      else if (type == 'checkbox' || type == 'radio')
        this.checked = false;
      else if (tag == 'select')
        this.selectedIndex = 0;
    });
  };
  //usage
  $('#new_newsletter').clearForm();
<% end %>