.row
  .col-sm-12.top-space.a
    = form_for [:admin, @system_configuration], role: "form" do |f|
      - if @system_configuration.errors.any?
        #error_explanation
          %h2= "#{pluralize(@system_configuration.errors.count, "error")} prohibited this system_configuration from being saved:"
          %ul
            - @system_configuration.errors.full_messages.each do |message|
              %li= message

      %p
        %small *Caso nenhum endereço seja informado o item na será exibido no site
        = f.text_field :restricted_area_link, :class => "form-control", placeholder: "Endereço do Acesso Restrito"
      %p
        %small *Caso nenhum endereço seja informado o item na será exibido no site
        = f.text_field :facebook_link, :class => "form-control", placeholder: "Endereço do Facebook"
      %p
        %small *Caso nenhum endereço seja informado o item na será exibido no site
        = f.text_field :link_instagram, :class => "form-control", placeholder: "Endereço do Instagram"
      %p
        %small *Caso nenhum endereço seja informado o item na será exibido no site
        = f.text_field :link_pinterest, :class => "form-control", placeholder: "Endereço do Pinterest"
      %p
        = f.text_field :institutional_title, :class => "form-control", placeholder: "Titulo do Texto Institucional"
      %p
        = f.trix_editor :institutional_text, :class => "form-control", placeholder: "Texto Institucional"
      %p
        %small Imagem Institucional
        = f.file_field :institutional_image, :class => "form-control"
      - if @system_configuration.institutional_image.file?
        .form-group
          =image_tag(@system_configuration.institutional_image.url)
      %p
        %label Emails para o enviar no Formulário de Contato
        %small.d-block *Utilize a ","(virgula) ou tab para adicionar mais de um item
        = f.text_field :senders_contact, :class => "form-control tagsinput", placeholder: "Emails para o enviar no Formulário de Contato"
      %p
        %label Emails para o enviar no Formulário do Onde Encotrar
        %small.d-block *Utilize a ","(virgula) ou tab para adicionar mais de um item
        = f.text_field :senders_where_to_find, :class => "form-control tagsinput", placeholder: "Emails para o enviar no Formulário do Onde Encotrar"
      %p
        %small Catalogo Comercial
        = f.file_field :commercial_catalog, :class => "form-control"
      - if @system_configuration.commercial_catalog.file?
        %p
          =link_to(@system_configuration.commercial_catalog.instance_read(:file_name),@system_configuration.commercial_catalog.url, :target => "_blank")
          =link_to("Excluir Catalogo Comercial", not_commercial_catalog_admin_system_configuration_path("Lytos"),data: { :confirm => "Essa operação não pode ser cancelada, todas as alterações que não foram atualizadas serão perdidas!\n\tDeseja prosseguir?"}, :class=>"btn btn-default" )
      %p
        %small Guia Técnico
        = f.file_field :technical_guide, :class => "form-control"
      - if @system_configuration.technical_guide.file?
        %p
          =link_to( @system_configuration.technical_guide.instance_read(:file_name),@system_configuration.technical_guide.url, :target => "_blank")
          =link_to("Excluir Guia Tecnico", not_technical_guide_admin_system_configuration_path("Lytos"),data: {:confirm => "Essa operação não pode ser cancelada, todas as alterações que não foram atualizadas serão perdidas!\n\tDeseja prosseguir?"}, :class=>"btn btn-default" )

      .actions
        = f.submit 'Salvar', :class => "btn btn-default pull-right"
