%h1 Listing system_configurations

%table
  %thead
    %tr
      %th Restricted area link
      %th Facebook link
      %th Link instagram
      %th Link pinterest
      %th Institutional title
      %th Institutional text
      %th Senders contact
      %th Senders where to find
      %th Commercial catalog file name
      %th Commercial catalog content type
      %th Commercial catalog file size
      %th Commercial catalog updated at
      %th Technical guide file name
      %th Technical guide content type
      %th Technical guide file size
      %th Technical guide updated at
      %th Institutional image file name
      %th Institutional image content type
      %th Institutional image file size
      %th Institutional image updated at
      %th
      %th
      %th

  %tbody
    - @system_configurations.each do |system_configuration|
      %tr
        %td= system_configuration.restricted_area_link
        %td= system_configuration.facebook_link
        %td= system_configuration.link_instagram
        %td= system_configuration.link_pinterest
        %td= system_configuration.institutional_title
        %td= system_configuration.institutional_text
        %td= system_configuration.senders_contact
        %td= system_configuration.senders_where_to_find
        %td= system_configuration.commercial_catalog_file_name
        %td= system_configuration.commercial_catalog_content_type
        %td= system_configuration.commercial_catalog_file_size
        %td= system_configuration.commercial_catalog_updated_at
        %td= system_configuration.technical_guide_file_name
        %td= system_configuration.technical_guide_content_type
        %td= system_configuration.technical_guide_file_size
        %td= system_configuration.technical_guide_updated_at
        %td= system_configuration.institutional_image_file_name
        %td= system_configuration.institutional_image_content_type
        %td= system_configuration.institutional_image_file_size
        %td= system_configuration.institutional_image_updated_at
        %td= link_to 'Show', system_configuration
        %td= link_to 'Edit', edit_system_configuration_path(system_configuration)
        %td= link_to 'Destroy', system_configuration, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New System configuration', new_system_configuration_path
