%ol.breadcrumb
  %li=link_to "Home", admin_root_path
  %li.active=link_to "Configuração do Sistema", ''

.row
  .col-xs-9
    %h1 Configurações do Sistema Lythos
  .col-xs-3
    =link_to "Editar", edit_admin_system_configuration_path, :class => "btn btn-default pull-right header-button"

- if flash[:notice]
  .alert.alert-success
    %b Concluído!
    Registro modificado com
    %b sucesso!

.comunicados
  %h3 Endereço do Acesso Restrito:
  %h2.details= @system_configuration.restricted_area_link

  %h3 Endereço do Facebook
  %h2.details=@system_configuration.facebook_link

  %h3 Endereço do Instagram
  %h2.details=@system_configuration.link_instagram

  %h3 Endereço do Pinterest
  %h2.details=@system_configuration.link_pinterest

  %h3 Titulo do Texto Institucional
  %h2.details=@system_configuration.institutional_title

  %h3 Texto Institucional:
  %h2.details=raw @system_configuration.institutional_text

  - if @system_configuration.institutional_image.file?
    %h3 Imagem Institucional:
    =image_tag(@system_configuration.institutional_image.url)

  %h3 Emails para o enviar no Formulário de Contato:
  %h2.details=@system_configuration.senders_contact

  %h3 Emails para o enviar no Formulário do Onde Encotrar:
  %h2.details=@system_configuration.senders_where_to_find

  - if @system_configuration.commercial_catalog.file?
    %h3 Catalogo Comercial:
    %p
    %strong=link_to( @system_configuration.commercial_catalog.instance_read(:file_name),@system_configuration.commercial_catalog.url, :target => "_blank")
  %p
  - if @system_configuration.technical_guide.file?
    %h3 Guia Técnico:
    %p
    %strong=link_to( @system_configuration.technical_guide.instance_read(:file_name),@system_configuration.technical_guide.url, :target => "_blank")