%h3.text-uppercase.d-block
  formulário de contato
  %small.d-block.font-weight-bold
    Conheça mais os nossos produtos
.line-red.mt-3.w-100
  %i.fa.fa-square
= form_for @contact_lead ||= ContactLead.new, :html => { :role => "form"}, remote: true do |f|
  %section
    .form-group
      = f.text_field :name, :id => "nome", :class => "form-control input-with-line my-3 pl-0", :placeholder => "Nome:", :type => "text",  :required=> ''
      = f.text_field :email, :class => "form-control input-with-line my-3 pl-0", :id => "email", :placeholder => "E-mail:", :required => "Email deve ser preenchido", :type => "email"
      = f.text_field :phone, :class => "form-control input-with-line my-3 pl-0", :id => "telefone", :placeholder => "Telefone:", :required => "Telefone deve ser preenchido", :type => "text"

      =f.submit "enviar", :class => "btn btn-contact-home text-white text-uppercase font-weight-bold py-3 px-5 mt-4", :data => { :disable_with => "Aguarde..." }