<% if @erro %>
  swal(
      'Oops...',
      'Ocorreu um erro tente novamente! <br> Lembre-se que todos os campos devem ser preenchidos.',
      'error'
    )
<% else %>
  swal(
    'Pronto!',
    'Seu contato foi salvo com sucesso! <br> Entraremos em contato o mais breve possível!',
    'success'
  )
  $.fn.clearForm = function() {
    return this.each(function() {
      var type = this.type, tag = this.tagName.toLowerCase();
      if (tag == 'form')
        return $(':input',this).clearForm();
      if (type == 'text' || type == 'password' || tag == 'textarea' || type == 'email')
        this.value = '';
      else if (type == 'checkbox' || type == 'radio')
        this.checked = false;
      else if (tag == 'select')
        this.selectedIndex = 0;
    });
  };
  //usage
  $('#new_contact_lead').clearForm();
<% end %>