= form_for @budget ||= [:admin, Budget.new], :html => { :role => "form"}, remote: true do |f|
  %section
    .form-group
      = f.text_field :name, :id => "nome", :class => "form-control input-with-line my-3 pl-0", :placeholder => "Nome:", :type => "text",  :required=> ''
      = f.text_field :email, :class => "form-control input-with-line my-3 pl-0", :id => "email", :placeholder => "E-mail:", :required => "Email deve ser preenchido", :type => "email"
      = f.text_field :phone, :class => "form-control input-with-line my-3 pl-0", :id => "telefone", :placeholder => "Telefone:", :required => "Telefone deve ser preenchido", :type => "text"
      = f.collection_select(:product_id, Product.all, :id, :title, {selected: @product.id }, {class: "form-control select2-budget "})
      = f.text_field :qntd, :class => "form-control input-with-line my-3 pl-0", :id => "qntd", :placeholder => "Quantidade (m² ou unidade)", :required => "Quantidade deve ser preenchido", :type => "text"
      = f.text_field :message, :class => "form-control input-with-line my-3 pl-0", :id => "message", :placeholder => "Mensagem:", :required => "Mensagem deve ser preenchido", :type => "text"
      .text-center
        =f.submit "enviar", :class => "btn btn-contact-home text-white text-uppercase font-weight-bold py-3 px-5 mt-4", :data => { :disable_with => "Aguarde..." }