<% if @erro %>
  swal(
    'Oops...',
    'Ocorreu um erro tente novamente! <br> Lembre-se que todos os campos devem ser preenchidos.',
    'error'
  )
<% else %>
  swal(
    'Pronto!',
    'Sua solicitação de orçamento foi efetuado com sucesso! <br> Entraremos em contato o mais breve possível!',
    'success'
  )
  // alert("Solicitação de orçamento enviado com sucesso!");
  $.fn.clearForm = function() {
    return this.each(function() {
      var type = this.type, tag = this.tagName.toLowerCase();
      if (tag == 'form')
        return $(':input',this).clearForm();
      if (type == 'text' || type == 'password' || tag == 'textarea' || type == 'email')
        this.value = '';
      else if (type == 'checkbox' || type == 'radio')
        this.checked = false;
      else if (tag == 'select')
        this.selectedIndex = 0;
    });
  };
  //usage
  $('#new_budget').clearForm();
  $('#exampleModal3').modal('toggle');
<% end %>