%ol.breadcrumb
  %li=link_to "Home", "/admin"
  %li.active=link_to "Orçamentos", ""

.row
  .col-xs-9
    %h1 Orçamentos

- if flash[:notice]
  .alert.alert-success
    %b Concluído!
    Registro modificado com
    %b sucesso!

.users
  %table.col-xs-12.table.table-condensed
    %thead
      %tr
        %th Name
        %th Email
        %th Phone
        %th Product
        %th Qntd
        %th Message
        %th="Ações"
    %tbody
      - for budget in @budgets
        %tr
          %td= budget.name
          %td= budget.email
          %td= budget.phone
          %td= Product.find(budget.product_id).title
          %td= budget.qntd
          %td= budget.message
          %td
            =link_to t("show"), admin_budget_path(budget), :class => "btn btn-white"