%ol.breadcrumb
  %li=link_to "Home", root_path
  %li.active=link_to "Orçamentos", admin_budgets_path

.row
  .col-xs-9
    %h1 Orçamento

- if flash[:notice]
  .alert.alert-success
    %b Concluído!
    Registro modificado com
    %b sucesso!

.comunicados
  %h3 Nome
  %h2.details= @budget.name

  %h3 E-mail
  %h2.details= @budget.email

  %h3 Telefone
  %h2.details= @budget.phone

  %h3 Produto
  %h2.details= Product.find(@budget.product_id).title

  %h3 Quantidade
  %h2.details= @budget.qntd

  %h3 Mensagem
  %h2.details= @budget.message

