.row
  .col-sm-12.top-space.a
    = form_for [:admin, @product, @product_information], role: "form" do |f|
      / = f.error_messages
      %p
        = f.text_field :attribute_title, :class => "form-control", :placeholder => "Titulo"
      %p
        = f.text_field :value, :class => "form-control", :placeholder => "Informação"
      %p
        = f.check_box :published, :class=>"switch-large", :"data-text-label"=>"Exibir"

      =f.submit "Salvar", :class => "btn btn-default pull-right"