%ol.breadcrumb
  %li=link_to "Home", "/admin"
  %li.active=link_to "Produtos", admin_products_path
  %li.active=link_to "Informações Técnicas", admin_product_product_informations_path

.row
  .col-xs-9
    %h1 Informações Técnicas
  .col-xs-3
    =link_to "+ Informação Técnica", new_admin_product_product_information_path, :class => "btn btn-default pull-right header-button"

- if flash[:notice]
  .alert.alert-success
    %b Concluído!
    Registro modificado com
    %b sucesso!

/ .col-xs-12.search
/   %form
/     .col-xs-11
/       %label.sr-only
/         Busca
/       %input.form-control.input-form{:name => "search"}
/     .col-xs-1
/       %input.btn.btn-default{:type => "submit", :value => "Buscar"}
/   .clearfix

.users
  %table.col-xs-12.table.table-condensed
    %thead
      %tr
        %th Titulo
        %th Informação
        %th Publicado?
        %th Ações
    %tbody
      - for product_information in @product_informations
        %tr
          %td= product_information.attribute_title
          %td= product_information.value
          %td
            =link_to t("show"), admin_product_product_information_path(@product, product_information), :class => "btn btn-white"
            =link_to t("edit"), edit_admin_product_product_information_path(@product, product_information), :class => "btn btn-white"
            =link_to "Excluir", [:admin, @product, product_information], data: { :confirm => 'Are you sure?'}, :method => :delete, :class => "btn btn-default"
