%ol.breadcrumb
  %li=link_to "Home", admin_root_path
  %li.active=link_to "Produtos", admin_products_path
  %li.active=link_to "Informações Técnicas", admin_product_product_informations_path

.row
  .col-xs-9
    %h1 Produtos
  .col-xs-3
    =link_to "+ Informação Técnica", new_admin_product_product_information_path, :class => "btn btn-default pull-right header-button"

- if flash[:notice]
  .alert.alert-success
    %b Concluído!
    Registro modificado com
    %b sucesso!

.comunicados
  %h3 Titulo
  %h2.details= @product_information.attribute_title

  %h3 Informação
  %h2.details=@product_information.value

  %h3 Publicado?
  %h2.details= show_boolean(@product_information.published)
%br
= link_to 'Exibir Todos', admin_product_product_informations_path, :class => "btn btn-white"