- content_for :highlighted do
  #destaque-interna.row.hidden-sm.hidden-xs.mx-auto.p-relative.w-100.m-0
    %div
      =image_tag("img-contato.jpg", :alt => "Destaque01", :class=>"img-responsive")
      /%img.img-responsive{:alt => "Destaque01", :src => "img/img-contato.jpg"}/
      .title-interna.ml-2.pl-5
        %h3 CONTATO
        %p Para entrar em contato conosco, preencha o formulário abaixo. Fique à vontade para tirar dúvidas e enviar sugestões. Será um prazer atendê-lo.
      .container.description-interna.ml-2.pl-5
        .row
          .col-md-6
            SOCIAL NETWORK
          .col-md-6
            -if !@system_configuration.facebook_link.blank?
              %a{:href => "#{@system_configuration.facebook_link}", :target => "_blank"}
                %span.fa-stack.fa-1x
                  %i.fa.fa-circle.fa-stack-2x.icon-background
                  %i.fa.fa-facebook.fa-stack-1x
            -if !@system_configuration.link_instagram.blank?
              %a{:href => "#{@system_configuration.link_instagram}", :target => "_blank"}
                %span.fa-stack.fa-1x
                  %i.fa.fa-circle.fa-stack-2x.icon-background
                  %i.fa.fa-instagram.fa-stack-1x
            -if !@system_configuration.link_pinterest.blank?
              %a{:href => "#{@system_configuration.link_pinterest}", :target => "_blank"}
                %span.fa-stack.fa-1x
                  %i.fa.fa-circle.fa-stack-2x.icon-background
                  %i.fa.fa-pinterest.fa-stack-1x
        .row.contato-detalhes
          %i.fa.fa-phone.fa-1-5x>
          (11) 4412-4235
          %i.fa.fa-envelope.fa-1-5x>
          info@lythos.com.br
          %br
            %i.fa.fa-map-marker.fa-1-5x>
            Av. São João, 1910 - Jardim Brogota, Atibaia
  .container-fluid.linhas
  .container-fluid
    .row.w-100.m-0
      .col-md-3.col-xs-3.col-md-3.base-color1{:style => "height:40px; background-color:##{@defaultcolors[0]}; display:block;"}
      .col-md-3.col-xs-3.col-md-3.base-color2{:style => "height:40px; background-color:##{@defaultcolors[1]}; display:block;"}
      .col-md-3.col-xs-3.col-md-3.base-color3{:style => "height:40px; background-color:##{@defaultcolors[2]}; display:block;"}
      .col-md-3.col-xs-3.col-md-3.base-color4{:style => "height:40px; background-color:##{@defaultcolors[3]}; display:block;"}
  .container-fluid.linhas2

.container.title-forms
  .row
    %h3 FORMULÁRIO DE CONTATO
.container
  .row
    .col-md-3
      .row
        =image_tag("img-home.jpg", :class => "img-responsive")
    .col-md-9.formulario.padding-bottom-form
      .row
        = form_for @contact, :html => {:class =>"formularioContato", :role => "form"}, :remote => true do |f|
          = f.label :name, "NOME:", :class=> "label col-md-4 col-xs-4 col-xs-12"
          = f.text_field :name, :class => "input col-md-8 col-xs-12", :type => "text"
          %br
          = f.label :email, "E-MAIL:", :class=> "label col-md-4 col-xs-4 col-xs-12"
          = f.text_field :email, :class => "input col-md-8 col-xs-12", :type => "text"
          %br
          = f.label :phone, "TELEFONE:", :class=> "label col-md-4 col-xs-4 col-xs-12"
          = f.text_field :phone, :class => "input col-md-8 col-xs-12", :type => "text"
          %br
          = f.label :city, "CIDADE:", :class=> "label col-md-4 col-xs-4 col-xs-12"
          = f.text_field :city, :class => "input col-md-8 col-xs-12", :type => "text"
          %br
          = f.label :state, "ESTADO:", :class=> "label col-md-4 col-xs-4 col-xs-12"
          = f.select(:state, ['ACRE','ALAGOAS','AMAPÁ','AMAZONAS','BAHIA','CEARÁ','DISTRITO FEDERAL','ESPÍRITO SANTO','GOIÁS','MARANHÃO','MATO GROSSO','MATO GROSSO DO SUL','MINAS GERAIS','PARÁ','PARAÍBA','PARANÁ','PERNAMBUCO','PIAUÍ','RORAIMA','RONDÔNIA','RIO DE JANEIRO','RIO GRANDE DO NORTE','RIO GRANDE DO SUL','SANTA CATARINA','SÃO PAULO','SERGIPE','TOCANTINS'], {:include_blank => true},{:class=>"input col-md-8 col-xs-12"})
          /= f.text_field :state, :class => "input col-md-8", :type => "text"
          %br
          = f.label :state, "MENSAGEM:", :class=> "label-textarea col-md-4 col-xs-12"
          = f.text_area :message, :class => "textarea col-md-8 col-xs-12", :id => "mensagem", :type => "text"
          %br
            %button.col-md-offset-4.col-md-4.col-xs-6.btn-voltar{:type => "reset"} LIMPAR
            = f.submit "ENVIAR", :class => "col-md-4 col-xs-6 btn-enviar", :data => { :disable_with => "Aguarde..." }