%ol.breadcrumb
  %li=link_to "Home", "/admin"
  %li.active=link_to "Destaques", admin_highlights_path

.row
  .col-xs-9
    %h1 Destaques
  .col-xs-3
    =link_to "+ Destaque", new_admin_highlight_path, :class => "btn btn-default pull-right header-button"

- if flash[:notice]
  .alert.alert-success
    %b Concluído!
    Registro modificado com
    %b sucesso!

.users
  %table.col-xs-12.table.table-condensed
    %thead
      %tr
        %th= "Thumb"
        %th="Titulo"
        %th="Inicio"
        %th="Fim"
        %th="Publicado?"
        %th="Ações"
    %tbody
      - for highlight in @highlights
        %tr
          - if highlight.image_highlight.file?
            %td= image_tag(highlight.image_highlight.url(:thumb))
          %td= highlight.title
          %td= highlight.publication_start.strftime("%d/%m/%y - %H:%M")
          %td= highlight.publication_stop.strftime("%d/%m/%y - %H:%M")
          %td= show_boolean(highlight.published)
          %td
            =link_to t("show"), admin_highlight_path(highlight), :class => "btn btn-white"
            =link_to t("edit"), edit_admin_highlight_path(highlight), :class => "btn btn-white"
            =link_to "Excluir", [:admin, highlight], data: { :confirm => 'Are you sure?'}, :method => :delete, :class => "btn btn-default"
