- content_for :highlighted do
  #destaque-interna.row.hidden-sm.hidden-xs.p-relative.w-100.m-0
    %div
      =image_tag("img-onde.jpg", :alt => "Destaque01", :class=>"img-responsive")
      /%img.img-responsive{:alt => "Destaque01", :src => "img/img-contato.jpg"}/
      .title-interna.ml-2.pl-5
        %h3.font-weight-bold ONDE ENCONTRAR
      .container.description-interna.ml-2.pl-5
        .row
          .col-md-12
            %p Preencha os campos abaixo com seus dados e encontre o representante Lythos mais próximo a você.
  .container-fluid.linhas
  .container-fluid
    .row.w-100.m-0
      .col-md-3.col-xs-3.col-md-3.base-color1{:style => "height:40px; background-color:##{@defaultcolors[0]}; display:block;"}
      .col-md-3.col-xs-3.col-md-3.base-color2{:style => "height:40px; background-color:##{@defaultcolors[1]}; display:block;"}
      .col-md-3.col-xs-3.col-md-3.base-color3{:style => "height:40px; background-color:##{@defaultcolors[2]}; display:block;"}
      .col-md-3.col-xs-3.col-md-3.base-color4{:style => "height:40px; background-color:##{@defaultcolors[3]}; display:block;"}
  .container-fluid.linhas2

.container.title-forms
  .row
    %h3 ENCONTRE UM REPRESENTANTE
.container
  .row
    .col-md-3.mapa-768
      .row
        =image_tag("representante.jpg", :class => "img-responsive")
    .col-md-9.formulario.padding-bottom-form
      .row
        = form_for @find_it, html: {:class =>"formularioContato", :role => "form"}, :remote => true do |f|
          = f.label :name, "NOME:", :class=> "label col-md-4 col-xs-4 col-xs-12"
          = f.text_field :name, :class => "input col-md-8 col-xs-12", :type => "text"
          %br
          = f.label :email, "E-MAIL:", :class=> "label col-md-4 col-xs-4 col-xs-12"
          = f.text_field :email, :class => "input col-md-8 col-xs-12", :type => "text"
          %br
          = f.label :phone, "TELEFONE:", :class=> "label col-md-4 col-xs-4 col-xs-12"
          = f.text_field :phone, :class => "input col-md-8 col-xs-12", :type => "text"
          %br
          = f.label :city, "CIDADE:", :class=> "label col-md-4 col-xs-4 col-xs-12"
          = f.text_field :city, :class => "input col-md-8 col-xs-12", :type => "text"
          %br
          = f.label :state, "ESTADO:", :class=> "label col-md-4 col-xs-4 col-xs-12"
          = f.select(:state, ['ACRE','ALAGOAS','AMAPÁ','AMAZONAS','BAHIA','CEARÁ','DISTRITO FEDERAL','ESPÍRITO SANTO','GOIÁS','MARANHÃO','MATO GROSSO','MATO GROSSO DO SUL','MINAS GERAIS','PARÁ','PARAÍBA','PARANÁ','PERNAMBUCO','PIAUÍ','RORAIMA','RONDÔNIA','RIO DE JANEIRO','RIO GRANDE DO NORTE','RIO GRANDE DO SUL','SANTA CATARINA','SÃO PAULO','SERGIPE','TOCANTINS'], {:include_blank => true},{:class=>"input col-md-8 col-xs-12"})
          /= f.text_field :state, :class => "input col-md-8", :type => "text"
          %br
            %button.col-md-offset-4.col-md-4.col-xs-3.btn-voltar{:type => "reset"} LIMPAR
            = f.submit "ENCONTRAR REPRESENTANTE", :class => "col-md-4 col-xs-9 btn-enviar", :data => { :disable_with => "Aguarde..." }