= form_for @contact do |f|
  - if @contact.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"
      %ul
        - @contact.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :message
    = f.text_field :message
  .field
    = f.label :published
    = f.check_box :published
  .field
    = f.label :state
    = f.text_field :state
  .field
    = f.label :business
    = f.text_field :business
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :active
    = f.check_box :active
  .actions
    = f.submit 'Save'
