%ol.breadcrumb.a
  %li=link_to "Home", "javascript:void(0);"
  %li.active=link_to "Contatos", "javascript:void(0);"

.row
  .col-xs-12
    %h1 Contatos
  / .col-xs-3
  /   =link_to "+ Contato", new_contact_path, :class => "btn btn-default pull-right header-button"

.col-xs-12.search
  %form
    .col-xs-11
      %label.sr-only
        Busca
      %input.form-control.input-form{:name => "search"}
    .col-xs-1
      %input.btn.btn-default{:type => "submit", :value => "Buscar"}
  .clearfix

.col-xs-12.ordering-box
  .btn-group
    %a.btn.btn-white{:href => "contacts"} Todos
    %a.btn.btn-white{:href => "?filter=#"} #
    %a.btn.btn-white{:href => "?filter=a"} A
    %a.btn.btn-white{:href => "?filter=b"} B
    %a.btn.btn-white{:href => "?filter=c"} C
    %a.btn.btn-white{:href => "?filter=d"} D
    %a.btn.btn-white{:href => "?filter=e"} E
    %a.btn.btn-white{:href => "?filter=f"} F
    %a.btn.btn-white{:href => "?filter=g"} G
    %a.btn.btn-white{:href => "?filter=h"} H
    %a.btn.btn-white{:href => "?filter=i"} I
    %a.btn.btn-white{:href => "?filter=j"} J
    %a.btn.btn-white{:href => "?filter=k"} K
    %a.btn.btn-white{:href => "?filter=l"} L
    %a.btn.btn-white{:href => "?filter=m"} M
    %a.btn.btn-white{:href => "?filter=n"} N
    %a.btn.btn-white{:href => "?filter=o"} O
    %a.btn.btn-white{:href => "?filter=p"} P
    %a.btn.btn-white{:href => "?filter=q"} Q
    %a.btn.btn-white{:href => "?filter=r"} R
    %a.btn.btn-white{:href => "?filter=s"} S
    %a.btn.btn-white{:href => "?filter=t"} T
    %a.btn.btn-white{:href => "?filter=u"} U
    %a.btn.btn-white{:href => "?filter=v"} V
    %a.btn.btn-white{:href => "?filter=w"} W
    %a.btn.btn-white{:href => "?filter=x"} X
    %a.btn.btn-white{:href => "?filter=y"} Y
    %a.btn.btn-white{:href => "?filter=z"} Z

.users
  %table.col-xs-12.table.table-condensed
    %tr
      %th Name
      %th Email
      %th Phone
      %th Business
      %th State
      %th City
      %th
    - for contact in @contacts
      %tr
        %td= contact.name
        %td= contact.email
        %td= contact.phone
        %td= contact.business
        %td= contact.state
        %td= contact.city
        %td
          =link_to t("show"), admin_contact_path(contact), :class => "btn btn-white"

