%ol.breadcrumb
  %li=link_to "Home", root_path
  %li.active=link_to "Contatos", admin_contacts_path

.row
  .col-xs-12
    %h1 Contatos

.comunicados
  %h3 Contato
  %h2.details= @contact.name

  %h3 Email
  %h2.details=@contact.email

  %h3 Telefone
  %h2.details=@contact.phone

  %h3 Celular
  %h2.details=@contact.cellphone

  %h3 Cidade
  %h2.details=@contact.city

  %h3 Estado
  %h2.details=@contact.state

  %h3 Mensagem
  %h2.details=@contact.message

  %h3 Enviado em
  %h2.details=@contact.created_at.strftime("%d/%m/%y")
%br
= link_to 'Exibir Todos', admin_contacts_path, :class => "btn btn-white"