<% if @erro %>
  alert("\n\tOcorreu um erro tente novamente!\n\nTodos os campos devem ser preenchidos.\n");
  $(window).scrollTop($('#error_div').offset().top);
<% else %>
  alert("Solicitação de Revenda enviada com sucesso!");
  $.fn.clearForm = function() {
    return this.each(function() {
      var type = this.type, tag = this.tagName.toLowerCase();
      if (tag == 'form')
        return $(':input',this).clearForm();
      if (type == 'text' || type == 'password' || tag == 'textarea' || type == 'email')
        this.value = '';
      else if (type == 'checkbox' || type == 'radio')
        this.checked = false;
      else if (tag == 'select')
        this.selectedIndex = 0;
    });
  };
  //usage
  $('#new_contact_lead').clearForm();
<% end %>