!!!
%html{:lang => "pt-br"}
  %head
    %meta{:charset => "utf-8"}/
    %title Lythos
    %link{:href => "assets/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "http://fonts.googleapis.com/css?family=Oswald:400,300,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => "assets/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %body
    .container-fluid
      .container
        .row
          .col-md-3.col-xs-3.col-md-3{:style => "height:18px; background-color:#5c0001; display:block;"}
          .col-md-3.col-xs-3.col-md-3{:style => "height:18px; background-color:#8c0708; display:block;"}
          .col-md-3.col-xs-3.col-md-3{:style => "height:18px; background-color:#c00708; display:block;"}
          .col-md-3.col-xs-3.col-md-3{:style => "height:18px; background-color:#f75052; display:block;"}
      .container-fluid.access
        .container
          .row
            %a{:href => "#"}
              %span.fa.fa-key>
              \&nbsp;&nbsp;ACESSO RESTRITO
      .container.top-bar
        .row
          .col-md-2.col-xs-12.col-md-12
            %a.logo{:href => "home.html"}
              %img{:src => "assets/logo.png"}/
          .col-md-10.col-xs-12.col-md-12
            .container-fluid
              %nav.navbar.navbar-default
                .container-fluid
                  .navbar-header
                    %button.navbar-toggle{"data-target" => "#menu-principal", "data-toggle" => "collapse", :type => "button"}
                      %span.icon-bar
                      %span.icon-bar
                      %span.icon-bar
                  #menu-principal.collapse.navbar-collapse
                    %ul.nav.navbar-nav
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-1x.fa-bars
                      %li
                        %a{:href => "index.html"} HOME
                      %li.drop-menu
                        %a{:href => "produtos.html"} PRODUTOS
                        %ul#sub-prod-menu.sub-menu.hide
                          %li
                            %a{:href => "prod-interna.html"} Prisma
                          %li
                            %a{:href => "prod-interna.html"} Piana
                          %li
                            %a{:href => "prod-interna.html"} Due
                          %li
                            %a{:href => "prod-interna.html"} Flat
                          %li
                            %a{:href => "prod-interna.html"} Legno
                          %li
                            %a{:href => "prod-interna.html"} Rustica
                          %li
                            %a{:href => "prod-interna.html"} Magna
                      %li
                        %a{:href => "catalogo.html"} CATALOGO COMERCIAL
                      %li
                        %a{:href => "guia.html"} GUIA TÉCNICO
                      %li
                        %a{:href => "onde.html"} ONDE ENCONTRAR
                      %li
                        %a{:href => "contato.html"} CONTATO
      .container-fluid.linhas
      .container-fluid
        #destaque.row.hidden-sm.hidden-xs
          %div
            %img.img-responsive{:alt => "Destaque01", :src => "assets/destaque01.jpg"}/
            %p.title JPM CONSTRUTORA
            %p.description Concretizando projetos desde 1982
          %div
            %img.img-responsive{:alt => "Destaque01", :src => "assets/destaque01.jpg"}/
            %p.title JPM
            %p.description Concretizando projetos desde 1982
          %div
            %img.img-responsive{:alt => "Destaque01", :src => "assets/destaque01.jpg"}/
            %p.title CONSTRUTORA
            %p.description Concretizando projetos desde 1982
      .container-fluid.linhas
      .container
        .row
          .col-md-3.col-xs-3.col-md-3{:style => "height:40px; background-color:#5c0001; display:block;"}
          .col-md-3.col-xs-3.col-md-3{:style => "height:40px; background-color:#8c0708; display:block;"}
          .col-md-3.col-xs-3.col-md-3{:style => "height:40px; background-color:#c00708; display:block;"}
          .col-md-3.col-xs-3.col-md-3{:style => "height:40px; background-color:#f75052; display:block;"}
      .container-fluid.linhas2
      .container.home
        .row
          .col-md-3.item-home
            .col-md-8
              %h4 Design
              %p Peças com traços modernos e exclusivos.
            .col-md-4
              %i.fa.fa-pencil.fa-4x
          .col-md-3.item-home
            .col-md-8
              %h4 Tecnologia
              %p Telhas que une beleza e funcionalidade em cada telha.
            .col-md-4
              %i.fa.fa-gears.fa-4x
          .col-md-3.item-home
            .col-md-8
              %h4 Inovação
              %p Realização de rigorosos testes de qualidade.
            .col-md-4
              %i.fa.fa-lightbulb-o.fa-4x
          .col-md-3.item-home
            .col-md-8
              %h4 Qualidade
              %p Durabilidade e eficiência comprovadas.
            .col-md-4
              %i.fa.fa-certificate.fa-4x
      .container
        .row
          .col-md-3
            %img.img-responsive{:src => "assets/img-home.jpg"}/
          .col-md-9.informacoes-home-txt
            %h3 INOVAÇÃO EM TELHAS
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non posuere dolor, sit amet condimentum massa. Nunc non pellentesque dui. Donec hendrerit tortor non pharetra molestie. Mauris bibendum ligula non nisi lobortis, at commodo odio molestie. Nulla euismod velit sit amet orci bibendum viverra. Donec arcu mi, aliquet cursus tincidunt et, vehicula id turpis. Nullam tempor justo eget urna tristique placerat. Sed rhoncus ultricies ex, quis suscipit dui tempor ac. Donec auctor tellus ac neque finibus malesuada. Nam finibus viverra sodales. Suspendisse non libero felis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam maximus consequat felis eget blandit. Sed et tristique risus, sed molestie erat. Vivamus consequat nibh in ligula aliquam, a scelerisque dolor varius. Phasellus varius eget ipsum ac faucibus.
              %br
                %br
                  Phasellus ac consequat erat. Morbi feugiat molestie quam, vitae elementum arcu molestie vitae. Fusce enim nunc, viverra a nunc vitae, dapibus bibendum magna. Maecenas sodales massa sit amet magna sollicitudin congue. Sed bibendum odio sit amet erat elementum ullamcorper. Suspendisse faucibus ultricies molestie. Donec molestie odio in tincidunt consectetur. Ut tristique justo eu metus viverra, ut lacinia metus maximus. Proin facilisis erat quis vestibulum sollicitudin. Duis eleifend dolor a velit efficitur, in sagittis sapien iaculis.
      .container-fluid.linhas2
      .container.social-home
        .row
          .col-md-3.social-home-txt
            SOCIAL NETWORK
          .col-md-6
            %hr
          .col-md-3.social-home-icons
            %a{:href => "#"}
              %span.fa-stack.fa-2x
                %i.fa.fa-circle.fa-stack-2x.icon-background
                %i.fa.fa-facebook.fa-stack-1x
            %a{:href => "#"}
              %span.fa-stack.fa-2x
                %i.fa.fa-circle.fa-stack-2x.icon-background
                %i.fa.fa-instagram.fa-stack-1x
            %a{:href => "#"}
              %span.fa-stack.fa-2x
                %i.fa.fa-circle.fa-stack-2x.icon-background
                %i.fa.fa-pinterest.fa-stack-1x
      .container-fluid.linhas2
      .container.newsletter-container
        .row
          .col-md-2
          .col-md-8
            %form
              %label.newsletter-label Cadastre-se para receber nossa Newsletter
              %input.newsletter.col-md-10{:type => "text"}
                %button.newsletter-btn.col-md-2
                  %img{:src => "assets/btn-news.jpg"}/
          .col-md-2
        .row
          .col-md-6
          .col-md-6.adress
            %i.fa.fa-map-marker.fa-2x>
            Rua Local reservado para o enderço, 199
            %i.fa.fa-phone.fa-2x>
            (11) 4412-4235
      .container-fluid.footer
        .row
          .container
            .col-md-6
              %p © 2015 - Todos os direitos reservados - LYTHOS
            .col-md-6
              %a{:href => "#"}
                %img{:src => "assets/logo-sato.png"}/
      .container
        .row
          .col-md-3.col-xs-3.col-md-3{:style => "height:18px; background-color:#5c0001; display:block;"}
          .col-md-3.col-xs-3.col-md-3{:style => "height:18px; background-color:#8c0708; display:block;"}
          .col-md-3.col-xs-3.col-md-3{:style => "height:18px; background-color:#c00708; display:block;"}
          .col-md-3.col-xs-3.col-md-3{:style => "height:18px; background-color:#f75052; display:block;"}
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"}
  %script{:src => "assets/jquery.cycle2.min.js"}
  %script{:src => "assets/funcoes.js"}