-content_for :footer do
  %script{:async => "", :src => "https://www.youtube.com/iframe_api"}
  :javascript
    function onYouTubeIframeAPIReady() {
      var player;
      player = new YT.Player('muteYouTubeVideoPlayer', {
        videoId: 'FkLUvmil12A',
        playerVars: {
          autoplay: 1,
          mute: 1,
          loop: 1,
          controls: 0,
          showinfo: 0,
          rel: 0,
          modestbranding: 1,
          playlist: 'FkLUvmil12A'
        },
      });
    }

- content_for :highlighted do
  .row.w-100.m-0
    .p-relative.d-xl-flex.align-items-center.video-container-parent
      .video-container
        #muteYouTubeVideoPlayer.video
      .contact-form-home.p-5.text-center
        =render "contact_leads/form"
  .container-fluid.linhas
  .container-fluid
    .row.w-100.m-0
      .col-md-3.col-xs-3.col-md-3.base-color1{:style => "height:40px; background-color:##{@defaultcolors[0]}; display:block;"}
      .col-md-3.col-xs-3.col-md-3.base-color2{:style => "height:40px; background-color:##{@defaultcolors[1]}; display:block;"}
      .col-md-3.col-xs-3.col-md-3.base-color3{:style => "height:40px; background-color:##{@defaultcolors[2]}; display:block;"}
      .col-md-3.col-xs-3.col-md-3.base-color4{:style => "height:40px; background-color:##{@defaultcolors[3]}; display:block;"}
  .container-fluid.linhas2

.container-fluid.home
  .container
    .row.text-center.text-sm-left
      .col-md-3.item-home.align-items-center.d-flex
        .col-md-8
          %h4.font-weight-bold.text-uppercase Design
          %p Peças com traços modernos e exclusivos.
        .col-md-4
          %i.fa.fa-pencil.fa-4x
      .col-md-3.item-home.align-items-center.d-flex
        .col-md-8
          %h4.font-weight-bold.text-uppercase Tecnologia
          %p Realização de rigorosos testes de qualidade.
        .col-md-4
          %i.fa.fa-gears.fa-4x
      .col-md-3.item-home.align-items-center.d-flex
        .col-md-8
          %h4.font-weight-bold.text-uppercase Inovação
          %p Telhas que une beleza e funcionalidade em cada telha.
        .col-md-4
          %i.fa.fa-lightbulb-o.fa-4x
      .col-md-3.item-home.align-items-center.d-flex
        .col-md-8
          %h4.font-weight-bold.text-uppercase Qualidade
          %p Durabilidade e eficiência comprovadas.
        .col-md-4
          %i.fa.fa-certificate.fa-4x
.container-fluid
  .container#informacoes
    .row
      .col-md-3
        .row
          =image_tag(@system_configuration.institutional_image.url(:home), :class => "img-responsive") if @system_configuration.institutional_image.file?
      .col-md-9.informacoes-home-txt
        %h3.font-weight-bold.text-uppercase=@system_configuration.institutional_title
        %p=raw(@system_configuration.institutional_text)
