%ol.breadcrumb.a
  %li=link_to "Home", "javascript:void(0);"
  %li.active=link_to "Leads", "javascript:void(0);"

.row
  .col-xs-12
    %h1 Leads

.users
  %table.col-xs-12.table.table-condensed
    %thead
      %tr
        %th Name
        %th Email
        %th Phone
        %th
    %tbody
      - for contact in @contacts
        %tr
          %td= contact.name
          %td= contact.email
          %td= contact.phone
          %td
            =link_to t("show"), admin_contact_lead_path(contact), :class => "btn btn-white"

