%ol.breadcrumb
  %li=link_to "Home", root_path
  %li.active=link_to "Leads", admin_contact_leads_path

.row
  .col-xs-12
    %h1 Leads

.comunicados
  %h3 Nome
  %h2.details= @contact.name

  %h3 Email
  %h2.details=@contact.email

  %h3 Telefone
  %h2.details=@contact.phone

  %h3 Enviado em
  %h2.details=@contact.created_at.strftime("%d/%m/%y")
%br
= link_to 'Exibir Todos', admin_contact_leads_path, :class => "btn btn-white"