%ol.breadcrumb.a
  %li=link_to "Home", "javascript:void(0);"
  %li.active=link_to "Leads de Produtos", "javascript:void(0);"

.row
  .col-xs-12
    %h1 Leads de Produtos

.users
  %table.col-xs-12.table.table-condensed
    %thead
      %tr
        %th Name
        %th Email
        %th Phone
        %th Produto
        %th
    %tbody
      - for product_lead in @product_leads
        %tr
          %td= product_lead.name
          %td= product_lead.email
          %td= product_lead.phone
          %td= product_lead.product
          %td
            =link_to t("show"), admin_product_lead_path(product_lead), :class => "btn btn-white"

