%ol.breadcrumb
  %li=link_to "Home", root_path
  %li.active=link_to "Leads de Produtos", admin_product_leads_path

.row
  .col-xs-12
    %h1 Leads de Produtos

.comunicados
  %h3 Nome
  %h2.details= @product_lead.name

  %h3 Email
  %h2.details=@product_lead.email

  %h3 Telefone
  %h2.details=@product_lead.phone

  %h3 Produto
  %h2.details=@product_lead.product

  %h3 Enviado em
  %h2.details=@product_lead.created_at.strftime("%d/%m/%y")
%br
= link_to 'Exibir Todos', admin_product_leads_path, :class => "btn btn-white"