.row
  .col-sm-12.top-space.a
    = form_for [:admin, @color], role: "form" do |f|
      / = f.error_messages
      %p
        = f.text_field :name, :class => "form-control", :placeholder => "Nome"
      %br
      .row
        .colorSelector.col-sm-2
          = f.label "Cor"
          %div{:style => "background-color: ##{@color.color}; "}
          = f.hidden_field :color, :value=>@color.color, :class=>"hidden-color"
      %br
      %p
        = f.check_box :published, :class=>"switch-large", :"data-text-label"=>"Exibir"


      =f.submit "Salvar", :class => "btn btn-default pull-right"