%ol.breadcrumb
  %li=link_to "Home", "/admin"
  %li.active=link_to "Cores", ""

.row
  .col-xs-9
    %h1 Cores
  .col-xs-3
    =link_to "+ Cor", new_admin_color_path, :class => "btn btn-default pull-right header-button"

- if flash[:notice]
  .alert.alert-success
    %b Concluído!
    Registro modificado com
    %b sucesso!

.users
  %table.col-xs-12.table.table-condensed
    %tr
      %th="Nome"
      %th="Cor"
      %th="Publicado?"
      %th="Ações"
    - for color in @colors
      %tr
        %td= color.name
        %td=image_tag("thumb-trans-img.png", :class=>"img-responsive", :style=>"background-color:##{color.color};")
        %td= show_boolean(color.published)
        %td
          =link_to t("show"), admin_color_path(color), :class => "btn btn-white"
          =link_to t("edit"), edit_admin_color_path(color), :class => "btn btn-white"
          =link_to "Excluir", [:admin, color], data: { :confirm => 'Are you sure?'}, :method => :delete, :class => "btn btn-default"
