%ol.breadcrumb
  %li=link_to "Home", "javascript:void(0);"
  %li=link_to "Cores", admin_colors_path

.row
  .col-xs-9
    %h1 Nova Cor

- if flash[:error]
  .alert.alert-danger
    %b Ops!
    Está faltando alguma coisa

= render :partial => "form"

= link_to 'Exibir Todos', admin_colors_path, :class => "btn btn-white"
