%ol.breadcrumb
  %li=link_to "Home", root_path
  %li.active=link_to "Cores", admin_colors_path

.row
  .col-xs-9
    %h1 Destaques
  .col-xs-3
    =link_to "+ Cor", new_admin_color_path, :class => "btn btn-default pull-right header-button"

- if flash[:notice]
  .alert.alert-success
    %b Concluído!
    Registro modificado com
    %b sucesso!

.comunicados
  %h3 Nome
  %h2.details= @color.name

  %h3 Cor
  =image_tag("thumb-trans-img.png", :class=>"img-responsive", :style=>"background-color:##{@color.color};")
  %br
  %h3 Publicado?
  %h2.details=show_boolean(@color.published)

%br
= link_to 'Editar', edit_admin_color_path(@color), :class => "btn btn-white"