.row
  .col-sm-12.top-space.a
    = form_for [:admin, @product], role: "form" do |f|
      / = f.error_messages
      %p
        = f.text_field :title, :class => "form-control", :placeholder => "Titulo"
      %p
        = f.text_field :reference, :class => "form-control", :placeholder => "Referência"
      %p
        = f.trix_editor :description, :placeholder => "Breve Descrição"
      %p
        = f.trix_editor :specifications, :placeholder => "Especificações", rows: "40"
      %p
        =f.label "Cores"
        = f.collection_select(:color_ids, Color.all, :id, :color_name, {}, {multiple: "multiple", class: "form-control select2-color "})
      %p
        = f.label "Imagem do Produto"
        = f.file_field :product_image, :class => "form-control filestyle"
      - if @product.product_image.file?
        .form-group
          =image_tag(@product.product_image.url, class: "img-responsive")
      %p
        = f.label "Imagem Pagina Interna"
        = f.file_field :display_picture, :class => "form-control filestyle"
      - if @product.display_picture.file?
        .form-group
          =image_tag(@product.display_picture.url, class: "img-responsive")
      %p
        = f.label "Imagem Home de Produtos"
        = f.file_field :image_entry, :class => "form-control filestyle"
      - if @product.image_entry.file?
        .form-group
          =image_tag(@product.image_entry.url, class: "img-responsive")
      %p
        = f.label "Sketchup do Produto"
        = f.file_field :sketchup, :class => "form-control filestyle"
      %p
        = f.check_box :published, :class=>"switch-large", :"data-text-label"=>"Exibir"

      =f.submit "Salvar", :class => "btn btn-default pull-right"