%ol.breadcrumb
  %li=link_to "Home", "/admin"
  %li.active=link_to "Produtos", ""

.row
  .col-xs-9
    %h1 Produtos
  .col-xs-3
    =link_to "+ Produto", new_admin_product_path, :class => "btn btn-default pull-right header-button"

- if flash[:notice]
  .alert.alert-success
    %b Concluído!
    Registro modificado com
    %b sucesso!

/ .col-xs-12.search
/   %form
/     .col-xs-11
/       %label.sr-only
/         Busca
/       %input.form-control.input-form{:name => "search"}
/     .col-xs-1
/       %input.btn.btn-default{:type => "submit", :value => "Buscar"}
/   .clearfix

.users
  %table.col-xs-12.table.table-condensed
    %thead
      %tr
        %th Titulo
        %th Cores
        %th Publicado?
        %th Ações
    %tbody
      - for product in @products
        %tr
          %td= product.title
          %td
            - product.colors.each do |color|
              =image_tag("thumb-trans-img.png", :class=>"img-responsive rounded-circle", :style=>"background-color:##{color.color}; display: -webkit-inline-box;")
          %td= show_boolean(product.published)
          %td
            =link_to t("show"), admin_product_path(product), :class => "btn btn-white"
            =link_to t("edit"), edit_admin_product_path(product), :class => "btn btn-white"
            =link_to "Excluir", [:admin, product], data: { :confirm => 'Are you sure?'}, :method => :delete, :class => "btn btn-default"
            =link_to "Imagens", admin_product_product_images_path(product), :class => "btn btn-warning"
            / =link_to "Destaques", admin_product_product_highlights_path(product), :class => "btn btn-warning"
