%ol.breadcrumb
  %li=link_to "Home", "javascript:void(0);"
  %li=link_to "Produtos", admin_products_path

.row
  .col-xs-9
    %h1 Novo Produto

- if flash[:error]
  .alert.alert-danger
    %b Ops!
    Está faltando alguma coisa

= render :partial => "form"

= link_to 'Exibir Todos', admin_products_path, :class => "btn btn-white"
