%ol.breadcrumb
  %li=link_to "Home", admin_root_path
  %li.active=link_to "Produtos", admin_products_path

.row
  .col-xs-9
    %h1 Produtos
  .col-xs-3
    =link_to "+ Produto", new_admin_product_path, :class => "btn btn-default pull-right header-button"

- if flash[:notice]
  .alert.alert-success
    %b Concluído!
    Registro modificado com
    %b sucesso!

.comunicados
  %h3 Titulo
  %h2.details= @product.title

  %h3 Referência
  %h2.details=@product.reference

  %h3 Cores
  - @product.colors.each do |color|
    =image_tag("thumb-trans-img.png", :class=>"img-responsive", :style=>"background-color:##{color.color}; display: -webkit-inline-box;")
  %h2.details=@product.reference

  %h3 Publicado?
  %h2.details= show_boolean(@product.published)

  %h3 Imagem do produto
  - if @product.product_image.file?
    .box-body
      %p=image_tag(@product.product_image.url, style: "width: 50%;")

  %h3 Imagem pagina interna
  - if @product.display_picture.file?
    .box-body
      %p=image_tag(@product.display_picture.url, style: "width: 50%;")

  %h3 Imagem home de produtos
  - if @product.image_entry.file?
    .box-body
      %p=image_tag(@product.image_entry.url, style: "width: 50%;")
%br
= link_to 'Exibir Todos', admin_products_path, :class => "btn btn-white"