%h1 Listing product_leads

%table
  %thead
    %tr
      %th Name
      %th Email
      %th Phone
      %th Product
      %th
      %th
      %th

  %tbody
    - @product_leads.each do |product_lead|
      %tr
        %td= product_lead.name
        %td= product_lead.email
        %td= product_lead.phone
        %td= product_lead.product
        %td= link_to 'Show', product_lead
        %td= link_to 'Edit', edit_product_lead_path(product_lead)
        %td= link_to 'Destroy', product_lead, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Product lead', new_product_lead_path
