%p#notice= notice

%p
  %b Name:
  = @product_lead.name
%p
  %b Email:
  = @product_lead.email
%p
  %b Phone:
  = @product_lead.phone
%p
  %b Product:
  = @product_lead.product

= link_to 'Edit', edit_product_lead_path(@product_lead)
\|
= link_to 'Back', product_leads_path
