.video-container {position: relative;width: 100%;max-height: 670px;padding-bottom: 56.25%;}

.video-container-parent{max-height: 670px;}

.video {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

.btn-contact-home{background-color: #5e5e5e; border-radius: 20px;}
.btn-red{background-color: #8c0708; border-radius: 20px;}
.btn-sketchup{color: #8c0808;background: #eaeaea;border-radius: 20px;font-size: 15px;}

.p-relative{position: relative;}
.p-absolute{position: absolute;}
.swal2-modal .swal2-styled{background-color: #8c0808 !important; font-weight: bold; border-radius: 10px}
.input-with-line{border: none; border-bottom: solid 1px #8c0708; background: transparent; box-shadow: none;}

.line-red{display: inline-block;vertical-align: baseline;zoom: 1;position: relative;padding: 0 2px; color: #8c0708; font-size: 12px;}

.line-red:before {right: 52%;}
.line-red:after {left: 52%;}

.line-red:before, .line-red:after {content: '';display: block;width: 48%;position: absolute;top: 0.73em;border-top: 1px solid #8c0708;}

.img-responsive{width: 100%;}

.color {width: 25px;height: 25px;float: left;}

.nav-tabs-product > li > a{border-bottom: solid 2px #efefef; border-top: none; border-left: none; border-right: none;}

.nav-tabs-product > li > a:hover,
.nav-tabs-product > li.active > a, .nav-tabs-product > li.active > a:hover, .nav-tabs-product > li.active > a:focus{border-bottom: 2px solid;border-bottom-color: #8c0808; border-top: none; border-left: none; border-right: none;}
.nav-tabs-product > li > a:hover, .nav-tabs-product > li > a:focus{background-color: transparent; }
.nav-tabs-product {border: none;}

.tab-content-product{height: 210px}

.modal-dialog{height: 600px;position:absolute; left:0; right:0;top:0; bottom:0;margin:auto;max-width:100%;max-height:100%;overflow:auto;}

.modal-budget{background-color: rgba(255, 255, 255, 0.9);}

.contact-form-home{position: relative; background: #ebebeb;}
@media (min-width: 769px){.video{z-index: -999}}
@media (min-width: 680px){ .contact-form-home{position: absolute; background-color: rgba(255, 255, 255, 0.83);right: 25%;z-index: 999;margin: auto;top: 0;bottom: 0;height: 380px;}}

.select2-budget{background: transparent;border: none;box-shadow: none;padding: 0;border-bottom: solid 1px #8c0708;color: #9c9c9c;}

body{overflow-x:hidden; font-family:'Oswald';}

.container-fluid{padding:0 !important;}

.hide{display:none;}

.linhas{
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	height:6px;
	display:block;
	}

.linhas2{
	border-top:1px solid #ccc;
	height:1px;
	display:block;
	}

.linhas3{
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	height:70px;
	display:block;
	}

.home{border-top:8px solid #8c0708; background: #fff;}

#menu-principal{padding:5px;}

#menu-principal ul li a{border:1px solid transparent;margin-left:8px;}

#menu-principal ul li a:hover{border:1px solid #ccc;}
#menu-principal ul li.drop-menu a:hover{padding-top: 30px;margin-top: -17px;background-color:#fff;border-top: none;z-index: 100;}
a.sub-li-prod{background:none !important;}

#menu-principal #bar_menu{color:#777;margin-left: 8px;padding-top: 15px;padding-bottom: 15px;}

.hoverMenu{border:1px solid #ccc;}

#sub-prod-menu{background-color:#fff;list-style:none;margin-left:8px;margin-top:-110px;border:1px solid #ccc;padding:9px;width:480px;height:45px;position:absolute;}

#sub-prod-menu li{float:left;}

#sub-prod-menu li a{color:#9d4242; text-decoration:none; margin-right:20px;margin-left:11px;}

#sub-prod-menu li a:hover{border:1px solid transparent !important;}

#destaque .highbox{
	width: 100%;
	top: 70%;
	left:50%;
	position: absolute;
  -webkit-transform: translate(-50%, -30%);
  -ms-transform: translate(-50%, -30%);
  -moz-transform: translate(-50%, -30%);
  -o-transform: translate(-50%, -30%);
  transform: translate(-50%, -30%);

}
.cycle-slide-active{
	width:100%;
}
#destaque .highbox p{
	margin:0px;
}

#destaque p.title{

	height:90px;
	padding-left:50%;
	/*

	position:absolute;
	top:478px;

	*/
	width:100%;
	color:#fff;
	font-size:28px;
	font-weight:400;
	background:rgba(0,0,0, 0.5);
	padding-top:50px;
	border-bottom:1px solid #CCC;
	box-shadow: 500px -1px 0 -1px #5e5e5e, 500px 1px 0 -2px #5e5e5e,-500px -1px 0 -1px #5e5e5e, -500px 1px 0 -2px #5e5e5e;
	-moz-box-shadow: 500px -1px 0 -1px #5e5e5e, 500px 1px 0 -2px #5e5e5e,-500px -1px 0 -1px #5e5e5e, -500px 1px 0 -2px #5e5e5e;
	-webkit-box-shadow: 500px -1px 0 -1px #5e5e5e, 500px 1px 0 -2px #5e5e5e,-500px -1px 0 -1px #5e5e5e, -500px 1px 0 -2px #5e5e5e;
	-ms-transform: 500px -1px 0 -1px #5e5e5e, 500px 1px 0 -2px #5e5e5e,-500px -1px 0 -1px #5e5e5e, -500px 1px 0 -2px #5e5e5e;
	-o-transform: 500px -1px 0 -1px #5e5e5e, 500px 1px 0 -2px #5e5e5e,-500px -1px 0 -1px #5e5e5e, -500px 1px 0 -2px #5e5e5e;

}
#destaque p.description{

	height:100px;
	padding-left:50%;
	/*

	position:absolute;
	top:568px;

	*/
	width:100%;
	color:#fff;
	font-size:28px;
	font-weight:300;
	background:rgba(0,0,0, 0.5);
	padding-top:2px;
	box-shadow: 500px 0px 0 #5e5e5e,-500px 0px 0 #5e5e5e;
	-moz-box-shadow: 500px 0px 0 #5e5e5e,-500px 0px 0 #5e5e5e;
	-webkit-box-shadow: 500px 0px 0 #5e5e5e,-500px 0px 0 #5e5e5e;
	-ms-transform: 500px 0px 0 #5e5e5e,-500px 0px 0 #5e5e5e;
	-o-transform: 500px 0px 0 #5e5e5e,-500px 0px 0 #5e5e5e;
}
#destaque p.btn-cycle{position:absolute;top:380px;width:100%;color:#fff;font-size:16pt; }
#destaque p.btn-cycle a{color:#fff;font-size:16pt;text-decoration:none;border:3px solid #fff;padding:15px;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}

.access{font-family:'Oswald'; padding-top:14px !important; height:50px; border:1px solid #c2c2c2; background-color:#ebebeb;}

.access a {margin-right:10px; color:#666;}

.navbar{background-color:#fff;border-radius:0;}

.top-bar{border-bottom:8px solid #8c0708; font-weight:300; font-size:18px; background: #fff;}

.logo img{margin-top:45px;}

.navbar{margin-top:60px;}

.item-home{border:1px solid #c2c2c2;height:157px;padding-left:11px; margin-top:75px; margin-bottom:100px;color:#666666;}
#informacoes{background-color:#ebebeb;}
.informacoes-home-txt{padding:10px;}

.informacoes-home-txt h3{color:#666666; font-size:20px}

.informacoes-home-txt p{color:#666666; font-size:16px; font-weight:300;}

.social-home{height:100px; padding-top:20px;background-image: url("/assets/bar1x1.png");background-repeat: no-repeat; background-position: center;}

.social-home-txt{font-family:'Oswald'; padding-top:20px; color:#5e5e5e; font-size:18px;}
.social-home-txt span{background-color:#fff;padding-right:15px;}
.social-home hr{margin-top:30px;}

.social-home-icons{top:10px;right: 30px;background-color: white;}

.social-home-icons a{color:white;}

.icon-background {color: #5e5e5e;}

.newsletter-container{background-color:#a4a4a4;height:270px;padding-top:65px;}

.newsletter-label{text-transform:uppercase; color:#fff; font-size:22px; font-weight:400;}

.newsletter{height:70px;color:#666;width: 100%;}

.newsletter-btn{position: absolute;right: 10px;top: 10px;}

.adress{color:#fff;font-weight:300;margin-top:20px;text-align: right;}

.adress i{color:#5e5e5e;margin-left:20px;margin-right:10px;}

.footer{height:95px;background-color:#5e5e5e;color:#fff;padding-top:40px !important;font-weight:300;}

.footer img{float:right;}

.title-interna{position:absolute;top:65px;height:174px;width:337px;color:#fff;background:rgba(0,0,0, 0.5);padding:13px;border-bottom:1px solid #ccc;-webkit-box-shadow: -130px 0px 0 0px rgba(0,0,0, 0.5);}

.title-interna h3{font-size:36px;font-weight:400;}

.title-interna p{font-size:17px;font-weight:300;line-height:18px;}

.description-interna{font-size:20px;font-weight:300;position:absolute;top:239px;height:195px;width:337px;color:#fff;background:rgba(0,0,0, 0.7);padding:18px;padding-top:44px;-webkit-box-shadow: -130px 0px 0 0px rgba(0,0,0, 0.7);}

.description-interna a{color:#fff;}

.contato-detalhes{font-size:18px; padding-top:10px;line-height:40px;}

.contato-detalhes i{margin-right:10px; margin-left:10px;}

.title-interna-onde{position:absolute;top:60px;height:174px;left:15px;width:337px;color:#fff;background:rgba(0,0,0, 0.5);padding:13px;border-bottom:1px solid #ccc;}

.h3-interna-onde{padding-top:89px;font-size:34px;font-weight:400;}

.description-interna-onde{font-size:18px;font-weight:300;position:absolute;top:235px;height:215px;left:15px;width:337px;color:#fff;background:rgba(0,0,0, 0.7);padding:14px;padding-top:9px;}

.title-forms{height:218px;border-top:14px solid #666;padding-top:60px;}

.title-forms h3{font-size:36px;font-weight:300;color:#666;}

.title-forms hr{margin-top:40px;}

.img-forms{max-width:111%;}



.formulario .label{text-align:left;font-size:20px;padding-top:15px;border-radius:0px;height:50px;background-color:#a4a4a4;margin:0 !important;border-bottom:1px solid #fff;border-right:1px solid #fff}

.formulario .input{height:50px;background-color:#6c6c6c;margin:0 !important;border:0px solid #6c6c6c;border-bottom:1px solid #fff;padding-left:10px;color:#fff;}

.formulario .label-textarea{color:#fff;text-align:left;font-size:20px;padding-top:11px;padding-left:12px;border-radius:0px;height:50px;background-color:#a4a4a4;margin:0 !important;border-bottom:1px solid #fff;border-right:1px solid #fff;height:83px;}

.formulario .textarea{height:50px;background-color:#6c6c6c;margin:0 !important;border:0px solid #6c6c6c;resize:none;border-bottom:1px solid #fff;padding-left:10px;padding-top:10px;color:#fff;height:83px;}

.btn-contato{border:1px solid #fff; padding:0 !important; margin:0 !important}

.title-interna-produtos{position:absolute;top:60px;height:174px;left:0px;width:337px;color:#fff;background:rgba(0,0,0, 0.5);padding:13px;}

.title-interna-produtos h3{padding-top:0px;padding-left:29px;font-size:34px;font-weight:400;}

.title-interna-produtos h4{padding-top:0px;padding-left:36px;font-size:31px;font-weight:300;margin:-7px;}

.description-interna-produtos{font-size:17px;font-weight:300;position:absolute;top:235px;height:215px;left:0px;width:337px;color:#fff;background:rgba(0,0,0, 0.7);padding:39px;padding-top:31px;}

.produtos{padding-top:25px; padding-bottom:25px;}
.item-produto{border: solid 1px #c2c2c2;}
.image-top{border-top:1px solid #c2c2c2;border-right:1px solid #c2c2c2;border-bottom:1px solid #c2c2c2;}
.image-top.first-image{border-left:1px solid #c2c2c2;}
.image-top.last-image{}
.colors-box{padding-left: 2px;padding-right: 2px;}
.colors-box img{margin-top:6px;}
.image-product{z-index: 2000;}
.image-product img{position:relative;top:25px;left: -28px;}
.image-entry{margin-top:15px;z-index: 1000;}
.image-entry.first-image{box-shadow: -138px 7px 0 -8px #d7d7d7,-138px 8px 0 -8px #d7d7d7;-moz-box-shadow: -138px 7px 0 -8px #d7d7d7,-138px 8px 0 -8px #d7d7d7;-webkit-box-shadow:  -138px 7px 0 -8px #d7d7d7,-138px 8px 0 -8px #d7d7d7;-ms-transform: -138px 7px 0 -8px #d7d7d7,-138px 8px 0 -8px #d7d7d7;-o-transform: -138px 7px 0 -8px #d7d7d7,-138px 8px 0 -8px #d7d7d7;}
.image-entry.last-image{box-shadow:9px 7px 0 -8px #c2c2c2,138px 7px 0 -8px #d7d7d7,138px 8px 0 -8px #d7d7d7;-moz-box-shadow:9px 7px 0 -8px #c2c2c2,138px 7px 0 -8px #d7d7d7,138px 8px 0 -8px #d7d7d7;-webkit-box-shadow:9px 7px 0 -8px #c2c2c2,138px 7px 0 -8px #d7d7d7,138px 8px 0 -8px #d7d7d7;-ms-transform:9px 7px 0 -8px #c2c2c2,138px 7px 0 -8px #d7d7d7,138px 8px 0 -8px #d7d7d7;-o-transform:9px 7px 0 -8px #c2c2c2,138px 7px 0 -8px #d7d7d7,138px 8px 0 -8px #d7d7d7;}
.item-produto-fim{border-right:1px solid #ccc;}
.top-prod{border-top:14px solid #8c0708;padding-top:60px;background-image: url('bg_prod_show.jpg');background-repeat: no-repeat;background-position: right top;}
.top-prod h3{font-size:36px;font-weight:300;color:#666;}
.top-prod h4{font-weight:300;color:#666;float:right;font-size:28px; margin-top:110px;}
.top-prod h5{font-weight:300;color:#666;float:right;}
.top-prod hr{margin-top:40px;}
.top-prod ul{list-style:none;margin:0}
.top-prod ul li{ margin:0;float:left}
#top-cores{padding:0;}
#top-cores div:nth-child(1n+5){margin-top:15px;}
.text-color h3{margin-top: 28px;}
.text-color span{background-color:white;padding-right: 20px;padding-left: 10px;}

.tabela-item{padding:0;border-right:1px solid #c2c2c2;border-top:1px solid #c2c2c2;padding-top:10px;box-shadow:135px 6px 0px -5px #d7d7d7,-135px 6px 0px -5px #d7d7d7;-moz-box-shadow:135px 6px 0px -5px #d7d7d7,-135px 6px 0px -5px #d7d7d7;-webkit-box-shadow:135px 6px 0px -5px #d7d7d7,-135px 6px 0px -5px #d7d7d7;-ms-box-shadow:135px 6px 0px -5px #d7d7d7,-135px 6px 0px -5px #d7d7d7;-o-box-shadow:135px 6px 0px -5px #d7d7d7,-135px 6px 0px -5px #d7d7d7;}
.tabela-produto{padding-left:15px;}
.box-btn{padding-top: 50px;}
.btn-prod{color:#fff;width:99%; height:100px;background-color:#8c0708;border:none !important;margin-bottom: 1px;}
#prev2{  position: relative;  top: -70px;  float: left;  z-index: 3000;  left: 10px;}
#next2{  position: relative;  top: -70px;  float: right;  z-index: 3000;  right: 10px;}
.btn-voltar{border:1px solid transparent;height:80px;background-color:#5c0001;color:#fff;text-align:center;font-size:22px;border-right:1px solid #fff;}
.btn-enviar{border:1px solid transparent;height:80px;background-color:#8c0708;color:#fff;text-align:center;font-size:22px;}
.light_shadow{box-shadow: 500px 0 #d7d7d7 , -500px 0 0px #d7d7d7;-moz-box-shadow: 500px 0 #d7d7d7 , -500px 0 0px #d7d7d7;-webkit-box-shadow: 500px 0 #d7d7d7 , -500px 0 0px #d7d7d7;-ms-box-shadow: 500px 0 #d7d7d7 , -500px 0 0px #d7d7d7;-o-box-shadow: 500px 0 #d7d7d7 , -500px 0 0px #d7d7d7;}
.dark_shadow{box-shadow: 500px 0 #5e5e5e , -500px 0 0px #5e5e5e;-moz-box-shadow: 500px 0 #5e5e5e , -500px 0 0px #5e5e5e;-webkit-box-shadow: 500px 0 #5e5e5e , -500px 0 0px #5e5e5e;-ms-box-shadow: 500px 0 #5e5e5e , -500px 0 0px #5e5e5e;-o-box-shadow: 500px 0 #5e5e5e , -500px 0 0px #5e5e5e;}
.padding-bottom-form{padding-bottom:50px;}
.fa-1-5x{font-size:1.5em;}


@media (max-width: 769px){
	.item-home
	{
	  border: 1px solid #c2c2c2;
    height: 177px;
    padding-left: 11px;
    padding-top: 25px;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .newsletter-container
  {
    padding-top: 15px;
  }
  .newsletter-label
  {
    padding:0px 15px;
  }
  .image-entry.first-image
  {
    box-shadow: -138px 7px 0 -8px transparent,-138px 8px 0 -8px transparent;
    -moz-box-shadow: -138px 7px 0 -8px transparent,-138px 8px 0 -8px transparent;
    -webkit-box-shadow: -138px 7px 0 -8px transparent,-138px 8px 0 -8px transparent;
    -ms-transform: -138px 7px 0 -8px transparent,-138px 8px 0 -8px transparent;
    -o-transform: -138px 7px 0 -8px transparent,-138px 8px 0 -8px transparent;
  }

  .image-entry.last-image
  {
    box-shadow: -138px 7px 0 -8px transparent,-138px 8px 0 -8px transparent;
    -moz-box-shadow: -138px 7px 0 -8px transparent,-138px 8px 0 -8px transparent;
    -webkit-box-shadow: -138px 7px 0 -8px transparent,-138px 8px 0 -8px transparent;
    -ms-transform: -138px 7px 0 -8px transparent,-138px 8px 0 -8px transparent;
    -o-transform: -138px 7px 0 -8px transparent,-138px 8px 0 -8px transparent;
  }

  .mapa-768
  {
   display:none;
  }
}

@media (max-width: 767px){
	/*Tudo compativel com xs*/
	#menu-principal ul li.drop-menu a:hover{
		padding-top: 0px;
		margin-top: 0px;
		border-top: 1px solid #ccc;
	}
	.social-home-icons{
		padding-right: 0px;
		right: 0px;
		text-align:right;
		background-color: transparent;
	}
		.social-home-icons a{
			background-color: white;
	}
	.social-home-icons a:first-child{
		padding-left:5px;
	}
	.newsletter-container{
		padding-top:30px;
	}

	.tabela-item table
	{
	  width:100%;
	}

	.top-prod h4
	{
	  margin-top: 30px;
	}
}


@media (min-width: 768px) and (max-width: 991px) {
	/*Tudo compativel com sm*/
  .top-prod{
		background-position-y: 10%;
  }
	.social-home-icons{
		padding-right: 0px;
		right: 0px;
		text-align:right;
		background-color: transparent;
	}
	.social-home-icons a{
		background-color: white;
	}
	.social-home-icons a:first-child{
		padding-left:15px;
	}



}
@media (min-width: 992px) and (max-width: 1199px) {
	/*Tudo compativel com md*/

}
@media (max-width: 1200px) {
	/*Tudo compativel com lg*/

}

@media (max-width: 640px){
	.newsletter-container{
		padding-top:15px;
	}

	.adress
	{
	  font-size:12px;
	  text-align:left;
	}
}

@media (max-width: 480px){
	.newsletter-container{
		padding-top:15px;
	}

	.margin-480
	{
	  margin-left:40px;
	}
}

@media (max-width: 320px){

	.margin-480
	{
	  margin-left:-11px;
	}
}

@media (min-width: 320px) and (max-width: 479px) {

}

@media (min-width: 480px) and (max-width: 639px) {

}

@media (min-width: 480px) and (max-width: 639px) {

}

@media (min-width: 640px) and (max-width: 767px) {

}

