%ol.breadcrumb.a
  %li=link_to "Home", admin_root_path
  %li.active=link_to "Newsletters", "javascript:void(0);"

.row
  .col-xs-12
    %h1 Newsletters
  / .col-xs-3
  /   =link_to "+ Contato", new_contact_path, :class => "btn btn-default pull-right header-button"

.col-xs-12.search
  %form
    .col-xs-11
      %label.sr-only
        Busca
      %input.form-control.input-form{:name => "search"}
    .col-xs-1
      %input.btn.btn-default{:type => "submit", :value => "Buscar"}
  .clearfix

.users
  %table.col-xs-12.table.table-condensed
    %tr
      %th E-mail
      %th Enviado em
      %th
    - for newsletter in @newsletters
      %tr
        %td= newsletter.email
        %td= newsletter.created_at.strftime("%d/%m/%y")
        %td
          %td= link_to 'Excluir', [:admin, newsletter], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default"

