.row
  .col-sm-12.top-space.a
    = form_for [:admin, @user], role: "form" do |f|
      / = f.error_messages
      %p
        = f.text_field :name, :class => "form-control", :placeholder => "Nome do Usuário"
      %p
        = f.text_field :login, :class => "form-control", :placeholder => "E-mail"
      %p
        = f.password_field :password, :class => "form-control", :placeholder => "Senha"

      %p
        = f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirme sua senha"

      / %p
      /   Sua foto:
      /   =f.file_field :avatar, :class => "form-control"

      / %p
      /   Logo da sua empresa:
      /   =f.file_field :company_logo, :class => "form-control"

      - if current_user.has_role?(:administrator)
        %h2=t(".permission")
        =f.radio_button :role, :administrator
        =t(".administrator")
        <br/>

        =f.radio_button :role, :supervisor
        =t(".supervisor")
        <br/>

        =f.radio_button :role, :seller
        =t(".seller")
        <br/><br/>

      / -if @user.role.to_s == "supervisor"
      /   %h2=t("team_users")
      /   -User.all.each do |user|
      /     - if (user.id != @user.id && user.role.to_s == "seller" )
      /       = check_box_tag 'user[collaborator_ids][]', user.id, @user.collaborators.include?(user), :class=> "input_radio"
      /       = user.username
      /       <br />
      /   <br /><br />

      =f.submit "Salvar", :class => "btn btn-default pull-right"

