%ol.breadcrumb
  %li=link_to "Home", "/admin"
  %li.active=link_to "Usuários", admin_users_path

.row
  .col-xs-9
    %h1 Usuários
  .col-xs-3
    =link_to "+ "+  ::User.model_name.human, new_admin_user_path, :class => "btn btn-default pull-right header-button"

- if flash[:notice]
  .alert.alert-success
    %b Concluído!
    Registro modificado com
    %b sucesso!

.col-xs-12.search
  %form
    .col-xs-11
      %label.sr-only
        Busca
      %input.form-control.input-form{:name => "search"}
    .col-xs-1
      %input.btn.btn-default{:type => "submit", :value => "Buscar"}
  .clearfix

.users
  %table.col-xs-12.table.table-condensed
    %thead
      %tr
        %th=t("activerecord.attributes.user.name")
        %th=t("activerecord.attributes.user.login")
        %th=t("activerecord.attributes.user.role")
        %th
    %tbody
      - for user in @users
        %tr
          %td= user.name
          %td= user.login
          %td= user.role
          %td
            =link_to t("show"), admin_user_path(user), :class => "btn btn-white"
            =link_to t("edit"), edit_admin_user_path(user), :class => "btn btn-white"
            =link_to "Excluir", [:admin, user], data: { :confirm => 'Are you sure?'}, :method => :delete, :class => "btn btn-default"
            / =link_to t("team_users"), teams_user_path(user), :class => "btn btn-default" if  user.role.to_s == "supervisor"
