%ol.breadcrumb
  %li=link_to "Home", "javascript:void(0);"
  %li=link_to "Usuários", "javascript:void(0);"

.row
  .col-xs-9
    %h1 Novo Usuário

- if flash[:error]
  .alert.alert-danger
    %b Ops!
    Está faltando alguma coisa

= render :partial => "form"

= link_to 'Exibir Todos', admin_users_path, :class => "btn btn-white"
