%ol.breadcrumb
  %li=link_to "Home", root_path
  %li.active=link_to "Usuários", admin_users_path

.row
  .col-xs-9
    %h1 Usuários
  .col-xs-3
    =link_to "+ Usuário", new_admin_user_path, :class => "btn btn-default pull-right header-button"

- if flash[:notice]
  .alert.alert-success
    %b Concluído!
    Registro modificado com
    %b sucesso!

.comunicados
  %h3 Usuário
  %h2.details= @user.name

  %h3 Email
  %h2.details=@user.login

  %h3 Tipo de Usuário
  %h2.details=@user.role
%br
= link_to 'Exibir Todos', admin_users_path, :class => "btn btn-white"