#accordian.col-md-3
  %ul
    -@categories.each do |line|
      -#if !@menu.index(line).blank?
      %li{:class => ("active" if @menu == line.id)}      
        %h3
          %span.fa.fa-1x.fa-play
          =link_to(line.title, category_product_path(line.id))
        - if !line.children.blank?
          %ul
            - line.children.each do |category|
              %li
                - if category.children.blank?
                  =link_to(category.title, category_product_path(category.id))
                - else
                  %h4
                    /%span.fa.fa-1x.fa-play
                    =# category.title
                    =link_to(raw("<span class='fa fa-1x fa-play'></span>") + category.title, category_product_path(category.id), :class => "title_h4")
                  %ul
                    - category.children.each do |subcategory|
                      %li
                        =link_to(subcategory.title, category_product_path(subcategory.id))