= form_for @product_lead ||= ProductLead.new, :html => { :role => "form"}, remote: true do |f|
  %section
    .form-group
      = f.text_field :name, :id => "nome", :class => "form-control input-with-line my-3 pl-0", :placeholder => "Nome:", :type => "text",  :required=> ''
      = f.text_field :email, :class => "form-control input-with-line my-3 pl-0", :id => "email", :placeholder => "E-mail:", :required => "Email deve ser preenchido", :type => "email"
      = f.text_field :phone, :class => "form-control input-with-line my-3 pl-0", :id => "telefone", :placeholder => "Telefone:", :required => "Telefone deve ser preenchido", :type => "text"
      = f.text_field :product, :id => "product", :type => "hidden", value: @product.title

      .btn.btn-sketchup.text-uppercase.py-3.px-5.mt-4
        download sketchup

-content_for :footer do
  :javascript
    $(".btn-sketchup").click(function(e) {
      e.preventDefault();
      if( ($("#nome").val()) && ($("#email").val()) && ($("#telefone").val()) ){
        $("#new_product_lead").submit();
        window.location.href = '#{@product.sketchup.url()}';
      }else{
        swal(
            'Oops...',
            'Você precisa preencher todos os campos para poder baixar o sketchup.',
            'error'
          )
      }
    })