.container.produtos
  .row
    -@products.each do |product|
      .col-sm-6.col-md-4.mb-4
        .row
          .col-xs-12
            .item-produto.d-md-flex.align-items-md-center
              .col-md-6.col-xs-12.p-0.hidden-xs-down
                =image_tag(product.image_entry.url("large"), :class=>"img-responsive")
              .col-md-6.col-xs-12
                .row
                  .col-xs-12
                    .text-center.p-4
                      =image_tag(product.product_image.url("small"))
                  .col-xs-12
                    %h4.text-uppercase.font-weight-bold
                      =product.title
                  .col-xs-12
                    %span.text-muted
                      =truncate(sanitize(product.description, tags: []), length: 45)
                    .text-center
                      %a{:href => product_path(product.url_slug)}
                        .text-uppercase.font-weight-bold.btn.btn-red.text-white.py-3.px-5.mt-4.mb-1
                          Ver mais

