- content_for :highlights do
  .row
    .col-md-12.slider-interna
      #bg-produtos
        %h2 Produtos
        %p Aqui você encontra os melhores produtos e acessórios para sua piscina e área de lazer.
        %a.slider-saiba-mais{:href => "#", :target => "_self"}
          %img{:src => "img/saiba-mais.png"}/
%section.row.contato
  .contato-bloco
    .bread
      =link_to("> Home", root_path())
      \ /
      =link_to(" Produtos", products_path())
    .row
      =render :file => "/products/_categories"
      .col-md-9
        %h3 
          Busca pelo termo: 
          = params[:search_prod] 
        - if @products.blank?
          .row
            .col_md-12.text-center
              Nenhum produto foi encontrado com o termo buscado!
                         
        -else
          .row
            -@products.each do |product|
              .col-md-4.prod-item.show_prod
                %a{:href => product_path(product.id)}
                  %h4=product.title
                  -if !product.description.blank?
                    %p=truncate(product.description, :length => 50, :separator => ' ').html_safe
                    /=product.description
                  -if !product.product_images.all_published.blank?
                    =image_tag(product.product_images.all_published.first.image_product.url("small"))
                  -else
                    =image_tag("icon-produtos.png")