.container.my-5
  .row.d-md-flex.align-items-md-center
    .col-xs-12.col-sm-6
      .single-image-slider.w-100.p-2.tosrus
        -@product.product_images.each do |img|
          %a{href: img.image_product.url()}
            =image_tag(img.image_product.url(:medium), class: "img-responsive")
      .slider-nav.hidden-sm-down.w-100.p-2
        -@product.product_images.each do |img|
          .mx-2
            =image_tag(img.image_product.url(:thumb), class: "img-responsive")
    .col-xs-12.col-sm-6
      %h2.text-uppercase.font-weight-bold.mb-5
        =@product.title
      %ul.nav.nav-tabs.nav-tabs-product.mt-3
        %li.active
          %a.m-0{"data-toggle" => "tab", :href => "#home"} DETALHES GERAIS
        %li
          %a.m-0{"data-toggle" => "tab", :href => "#menu1"} ESPECIFICAÇÕES
        %li
          %a.m-0{"data-toggle" => "tab", :href => "#menu2"} SKETCHUP
      .tab-content.tab-content-product
        #home.tab-pane.fade.in.active
          %p
            =raw @product.description
        #menu1.tab-pane.fade
          %p
            =raw @product.specifications
        #menu2.tab-pane.fade
          -if @product.sketchup.file?
            = render "sketchup"
          -else
            %p.p-5 Nenhum sketchup foi encontrado para esse produto.

      .mt-5
        %span
          CORES
        .mt-2
          -@colors.each do |color|
            .color.rounded-circle.p-1.mr-2{style: "background: ##{color.color}", "data-placement" => "top", "data-toggle" => "tooltip", :title => color.name}
      %br
      %br
      .mt-5
        / Button trigger modal
        %button.btn.btn-red.text-white.px-5.py-3.font-weight-bold{"data-target" => "#exampleModal3", "data-toggle" => "modal", :type => "button"}
          SOLICITAR ORÇAMENTO
      / Modal
      #exampleModal3.modal{"aria-hidden" => "true", "aria-labelledby" => "exampleModal3Label", :role => "dialog", :tabindex => "-1"}
        .modal-dialog.m-auto{:role => "document"}
          .modal-content.modal-budget
            .modal-body.p-5
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} X
              .text-center
                %h3.text-uppercase.d-block
                  orçamento
                .line-red.mt-3.w-100
                  %i.fa.fa-square
              =render "admin/budgets/form"
