<div class="row">
  <div class="col-sm-12 top-space">
    <%= form_for @user, url: user_session_path, method: :post, html: { class: 'form-horizontal', role: 'form' } do |f| %>

      <p>
        <%= f.text_field :login, class: 'form-control', placeholder: 'E-mail' %>
      </p>
      <p>
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
      </p>
      <p></p>
      <%= f.submit "Entrar", :class => "btn btn-default" %>
      <br /><br />
    <% end %>
  </div>
</div>
