<ol class="breadcrumb">
  <li>
    <%= link_to "Home", "javascript:void(0);" %>
  </li>
  <li class="active">
    <%= link_to "Login", "javascript:void(0);" %>
  </li>
</ol>
<div class="row">
  <div class="col-xs-9">
    <h1>Login</h1>
  </div>
</div>
<div class="col-xs-12">
  <%= render 'form' %>
</div>
