<div class="col-xs-12 col-md-2 container-menu">
  <div class="container-fluid">
    <h6>Comercial</h6>
    <ul>
      <li>
          <%= link_to("Destaques", admin_highlights_path, :class => "comunicados") %>
        </li>
      <li>
        <%= link_to("Orçamentos", admin_budgets_path, :class => "orcamentos") %>
      </li>
      <li>
        <%= link_to("Leads", admin_contact_leads_path, :class => "contatos") %>
      </li>
      <li>
        <%= link_to("Leads de Produtos", admin_product_leads_path, :class => "contatos") %>
      </li>
    </ul>
    <h6>Utilitarios</h6>
    <ul>
      <li>
        <%= link_to("Contatos", admin_contacts_path, :class => "contatos") %>
      </li>
      <li>
        <%= link_to("Newsletters", admin_newsletters_path, :class => "metas") %>
      </li>
      <li>
        <%= link_to("Onde Encontrar", admin_find_its_path, :class => "regioes") %>
      </li>
    </ul>
    <% if current_user.has_role?(:administrator) %>
      <h6>Produtos</h6>
      <ul>
        <li>
          <%= link_to("Produtos", admin_products_path, :class=> "pedidos") %>
        </li>
        <li>
          <%= link_to("Cores", admin_colors_path, :class=> "pantone") %>
        </li>
        <!-- <li>
          <%= link_to("Acabamentos", '', :class=> "acabamentos") %>
        </li> -->
      </ul>
      <h6>Administração</h6>
      <ul>
        <!--/%li=#link_to("Metas", goals_path, :class => "metas")
        -->
        <li>
          <%= link_to("Usuários", admin_users_path, :class => "usuarios") %>
        </li>
        <li>
          <%= link_to("Configurações do Sistema", admin_system_configuration_path("Lythos"), :class => "settings") %>
        </li>
      </ul>
    <% end %>
  </div>
</div>