<div class="header">
  <div class="col-xs-2 logo">
    <%= link_to image_tag("template/logo.jpg"), admin_root_path %>
  </div>
  <div class="col-xs-10 personal-info">
    <div>

      <span class="user-name">
        <%= current_user ? raw(current_user.name+" / "+link_to("Sair", logout_path)) : raw(link_to("Entrar", login_path)+" / "+link_to("Registrar", register_path)) %>
      </span>
      <%= image_tag "template/btn_settings.jpg" %>
    </div>
  </div>
</div>