<div class="row footer">
  <div class="col-xs-12">
    <%= link_to image_tag("template/sato7.jpg"), "http://www.sato7.com.br", :target => "_blank" %>
    <%= link_to "Politica de Privacidade", "#" , :class => "footer-links" %>
    <%= link_to "Termos de Uso", "#", :class => "footer-links" %>
  </div>
</div>