.container-fluid.menu
  .row
    .logo.col-xs-9.col-md-2.col-sm-2
      =link_to(image_tag("logo.png", :class =>"img-responsive"), root_path)
    .col-xs-3.xs-only.menu-float
      .container-fluid.menuprincipal
        .navbar-header
          %button.navbar-toggle{"data-target" => "#menu-principal", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
    .col-md-5.col-sm-5.col-xs-12
      %nav.navbar{:role => "navigation"}
        #menu-principal.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              =link_to("Home", root_path)
            %li
              =link_to("Produtos", products_path)
            %li
              =link_to("Piscinas", pools_path)
            %li
              =link_to("Projetos", projects_path)
            %li
              =link_to("Atendimento", new_contact_path)
    .col-md-3.col-sm-3.col-xs-12.busca
      = form_tag(search_products_path, :method => :get, :id=> "search_prod_form") do
        =text_field_tag 'search_prod', nil, :placeholder =>'Buscar', :class => "buscador"
        /%input.buscador{:type => "text", :value => "Buscar"}/
        = image_submit_tag("btn_search.png", :class => "lupa")
        /%a.lupa{:href => "#", :onclick => "document.search_prod_form.submit();"}
        /  %i.fa.fa-search.fa-1x
    .col-md-2.col-sm-2.col-xs-12#cart
      -if @cart.items.select { |item| item.quantity > 0 }.count > 0
        %a.carrinho{:href => carts_path, :target => "_self"}
          =@cart.items.select { |item| item.quantity > 0 }.count
          item(s) no carrinho
          %i.fa.fa-shopping-cart.fa-1x
      -else
        %a.carrinho{:href => carts_path, :target => "_self"}
          Carrinho está vazio
          %i.fa.fa-shopping-cart.fa-1x
      %a.facebook{:href => "https://www.facebook.com/worldpiscinas.cps?fref=ts", :target => "_self"}
        %i.fa.fa-facebook.fa-1x