%section.row
  .conteudo
    %h3 Conheça mais sobre os nossos produtos:
    - @highlight_category.each do |highlight_category|
      %a.col-md-3{:href => category_product_path(highlight_category.id)}
        .produto-home
          %h4=highlight_category.title
          %p=truncate(highlight_category.description, :length => 50, :separator => ' ').html_safe
          -if highlight_category.image_category.file?
            =image_tag(highlight_category.image_category.url("small"))
          -else
            =image_tag("icon-produtos.png")
          /%img{:src => "assets/automacao.png"}/
