!!!
%html{:lang => "pt-br"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title
      = content_for?(:title) ? t("site_name") + " - " + yield(:title) : t("site_name")
    = csrf_meta_tag
    = stylesheet_link_tag "bootstrap.css"
    %link{:href => "http://fonts.googleapis.com/css?family=Oswald:400,300,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}
    = stylesheet_link_tag "style.css"
    = stylesheet_link_tag "slick.css"
    = stylesheet_link_tag "slick-theme.css"
    = stylesheet_link_tag "jquery.tosrus.all.css"
    = stylesheet_link_tag "sweetalert.min.css"
    = yield(:head)
  %body
    .container-fluid
      .container-fluid
        .row.w-100.m-0
          .col-md-3.col-xs-3.col-md-3.base-color1{:style => "height:18px; background-color:##{@defaultcolors[0]}; display:block;"}
          .col-md-3.col-xs-3.col-md-3.base-color2{:style => "height:18px; background-color:##{@defaultcolors[1]}; display:block;"}
          .col-md-3.col-xs-3.col-md-3.base-color3{:style => "height:18px; background-color:##{@defaultcolors[2]}; display:block;"}
          .col-md-3.col-xs-3.col-md-3.base-color4{:style => "height:18px; background-color:##{@defaultcolors[3]}; display:block;"}
      .container-fluid.access
        .container
          .row
            .text-right
              -if !@system_configuration.restricted_area_link.blank?
                %a{:href => "#{@system_configuration.restricted_area_link}", target: "_blank"}
                  %span.fa.fa-key>
                  \&nbsp;&nbsp;ACESSO RESTRITO
      .container-fluid.top-bar
        .container.mb-5.text-md-center.text-lg-left.text-center
          .row
            .col-md-offset-1.col-md-2.col-xs-12
              =link_to(image_tag("logo.png"), root_path, :class=>"logo")
            .col-md-9.col-xs-12
              .row
                %nav.navbar.navbar-default
                  .container-fluid
                    .navbar-header
                      %button.navbar-toggle{"data-target" => "#menu-principal", "data-toggle" => "collapse", :type => "button"}
                        %span.icon-bar
                        %span.icon-bar
                        %span.icon-bar
                    #menu-principal.collapse.navbar-collapse
                      %ul.nav.navbar-nav
                        %li.hidden-xs
                          %i.fa.fa-1x.fa-bars#bar_menu
                        %li
                          =link_to("HOME", root_path)
                        %li.drop-menu
                          =link_to("PRODUTOS", products_path)
                          -if @products.count > 0
                            %ul#sub-prod-menu.sub-menu.hide.hidden-sm-down
                              -@products.each do |product|
                                %li
                                  =link_to(product.title, product_path(product.url_slug), :class=>"sub-li-prod")
                        -if @system_configuration.commercial_catalog.file?
                          %li
                            =link_to("CATALOGO COMERCIAL", @system_configuration.commercial_catalog.url, :target => "_blank")
                        -if @system_configuration.technical_guide.file?
                          %li
                            =link_to("GUIA TÉCNICO", @system_configuration.technical_guide.url, :target => "_blank")
                        %li
                          =link_to("ONDE ENCONTRAR", new_find_it_path)
                        %li
                          =link_to("CONTATO", new_contact_path)
      .container-fluid.linhas
      .container-fluid
        = yield(:highlighted)
      .div
        = yield()
      .container-fluid
        .social-home
          .container
            .row
              .col-md-offset-2.col-md-2.col-sm-offset-2.col-sm-2.col-xs-7.social-home-txt
                .row
                  %span
                    SOCIAL NETWORK
              .col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-3.col-xs-5.social-home-icons
                -if !@system_configuration.facebook_link.blank?
                  %a{:href => "#{@system_configuration.facebook_link}", :target => "_blank"}
                    %span.fa-stack.fa-lg
                      %i.fa.fa-circle.fa-stack-2x.icon-background
                      %i.fa.fa-facebook.fa-stack-1x
                -if !@system_configuration.link_instagram.blank?
                  %a{:href => "#{@system_configuration.link_instagram}", :target => "_blank"}
                    %span.fa-stack.fa-lg
                      %i.fa.fa-circle.fa-stack-2x.icon-background
                      %i.fa.fa-instagram.fa-stack-1x
                -if !@system_configuration.link_pinterest.blank?
                  %a{:href => "#{@system_configuration.link_pinterest}", :target => "_blank"}
                    %span.fa-stack.fa-lg
                      %i.fa.fa-circle.fa-stack-2x.icon-background
                      %i.fa.fa-pinterest.fa-stack-1x
      .container-fluid.linhas2

      .container-fluid.home
        .newsletter-container
          .container.py-3
            .row
              .col-sm-12.col-md-offset-2.col-md-8
                .row
                  = form_for @newsletter, :remote => true do |f|
                    = f.label :email, "Cadastre-se para receber nossa Newsletter", :class => "newsletter-label"
                    .col-md-12
                      .row
                        = f.text_field :email, :class => "newsletter"
                        =image_submit_tag("btn-news.png", :class => "newsletter-btn")

            .row
              .col-md-offset-2.col-md-8.col-xs-12.adress
                %i.fa.fa-map-marker.fa-2x>
                Av. São João, 1910 – Jardim Santo Antônio – Atibaia – SP
                %i.fa.fa-phone.fa-2x>
                (11) 4412-4235
      .container-fluid.footer
        .row.w-100.m-0
          .container
            .col-md-offset-2.col-md-4
              .row
                %p © 2015 - Todos os direitos reservados - LYTHOS
            .col-md-4
              .row
                =link_to(image_tag("logo-sato.png"), "http://www.sato7.com.br", :target => "_blank")
      .container-fluid
        .row.w-100.m-0
          .col-md-3.col-xs-3.col-md-3.base-color1{:style => "height:18px; background-color:##{@defaultcolors[0]}; display:block;"}
          .col-md-3.col-xs-3.col-md-3.base-color2{:style => "height:18px; background-color:##{@defaultcolors[1]}; display:block;"}
          .col-md-3.col-xs-3.col-md-3.base-color3{:style => "height:18px; background-color:##{@defaultcolors[2]}; display:block;"}
          .col-md-3.col-xs-3.col-md-3.base-color4{:style => "height:18px; background-color:##{@defaultcolors[3]}; display:block;"}
  / JavaScripts
  = javascript_include_tag "application"
  = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"
  = javascript_include_tag "funcoes.js"
  = yield(:footer)