!!!
%html{:lang => "pt-br"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}  
    %title
      = content_for?(:title) ? t("site_name") + " - " + yield(:title) : t("site_name")    
    %link{:href => "http://fonts.googleapis.com/css?family=Muli:300,400,400italic,300italic", :rel => "stylesheet", :type => "text/css"}
    = csrf_meta_tag
    = stylesheet_link_tag "style.css"
    = stylesheet_link_tag "jcycle.css"
    = stylesheet_link_tag "bootstrap.min.css"
    = stylesheet_link_tag "font-awesome.min.css"
    
    
    = yield(:head)
  %body
  .row.orcamento
    =yield
  
  / JavaScripts
  = javascript_include_tag "application"
  = javascript_include_tag "bootstrap.min.js"
  = javascript_include_tag "jquery.cycle2.min.js"
  = javascript_include_tag "funcoes.js" 
  = yield(:footer)
    









