<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Lythos</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "admin" %>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css"></link>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render '/layouts/admin_header' %>
    <div class="main-content">
      <div class="col-xs-12 col-md-12 container-main">
        <div class="row main-box">
          <div class="col-xs-12">
            <%= yield %>
          </div>
        </div>
        <%= render '/layouts/admin_footer'%>
      </div>
    </div>
  </body>
  <%= javascript_include_tag "application" %>

  <%= javascript_include_tag "functions" %>
  <%= yield :scripts %>
  <script>

    $(window).load(function() {
      $(window).resize();
    });

    $(window).resize(function() {
      resize_layout();
    });

  </script>
</html>
